.ajax-load-more-wrap {
	min-height: 100vh;

	@include tablet-portrait {
		min-height: 400px;
	}

	.alm-btn-wrap {
		padding: 50px 0 0 0;

		.alm-load-more-btn {
			text-transform: uppercase;
			font-family: $proxima-nova;
			letter-spacing: 0.05em;
			border: 2px solid;
			padding: 10px 10px 8px 10px;
			font-size: 0.75em;
			display: inline-block;
			height: auto;
			line-height: 1em;
			background: transparent;
			color: $bright-red;
			border: 2px solid $red;
			border-radius: 0;

			&:hover {
				background: $bright-red;
				color: $white;
				text-decoration: none;
			}

			@include tablet-portrait {
				font-size: 1em;
				padding: 15px 15px 12px 15px;
			}

			&.done {
				display: none;
			}
		}
	}

	aside {
		text-align: center;
		padding-top: 25px;
		font-size: 1.5rem;
		color: $bright-red;
	}
}

