body.page-template-watch {

    section.banner {
        margin-top: 50px;

        & + section.hero {
            padding-top: 1.5rem;
        }

        .cta-flex {
            padding: 1rem;
            background: $bright-red;
    
            a {
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                text-align: center;

                @include tablet-portrait {
                    text-align-last: left;
                }

                &:hover {
                    text-decoration: none;
                }
            }
    
            h3 {
                font-weight: bold;
                font-size: clamp(1.5rem, 3vw, 2rem);
                letter-spacing: 0.025em;
                font-family: $futura-condensed;
                text-transform: uppercase;
                font-style: italic;
                width: 100%;
                padding-bottom: 0.5rem;
                
                @include tablet-portrait {
                    width: auto;
                    padding-bottom: 0;
                }
            }

            p {
                padding-left: 1rem;
                font-size: clamp(0.875rem, 1.2vw, 1rem);
            }
        }
    }
}