body.page-template-watch {

	section.hero {
		padding: 50px 0 100px 0;	

		.video {
			@include aspect-ratio(16, 9);
			border-radius: 3px;
			overflow: hidden;

			.content {
				&:before {
					display: block;
					content: '';
					background: rgba(0, 0, 0, 0.5);
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 10;
				}
			}

			iframe {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}

		.info {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 15;
			display: flex;
			align-items: center;
			justify-content: center;

			.headline {
				width: 100%;
				text-align: center;

				h1 {
					color: $white;
					font-weight: 900;
					font-family: $futura-condensed;
					font-size: 4em;
					font-style: italic;
					text-transform: uppercase;

					@include tablet-portrait {
						font-size: 6em;
					}

					@include tablet-landscape {
						font-size: 8em;
					}
				}
			}

			.link {
				display: flex;
				align-items: center;
				justify-content: center;

				.play-btn {
					transform: scale(0.5);
					

					@include tablet-portrait {
						transform: scale(1);
					}
				}

				span.label {
					max-width: 60%;
					display: inline-block;
					color: $white;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					font-size: 0.8125rem;
					line-height: 1.25em;
					text-align: left;

					@include tablet-portrait {
						max-width: 100%;
						margin-left: 1rem;
						font-size: 1rem;
					}
				}
			}
		}	
	}

}