section.library-cta {
	padding-top: 50px;

	@include tablet-portrait {
		padding-top: 100px;
	}

	.cta-flex {
		padding: 25px;
		background: $bright-red;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			color: $white;
		}

		h3 {
			font-weight: bold;
			font-size: 1rem;

			@include tablet-portrait {
				font-size: 1.125rem;
			}
			
		}

		.cta {
			margin-left: 25px;
			min-width: 115px;

			.btn {
				font-weight: bold;

				&:hover {
					color: $bright-red;
				}
			}
		}
	}
}