section.playlist {

	& + section.playlist {
		padding-top: 100px;
	}

	.section-header {

		h3.has-view-all {
			display: flex;
			align-items: flex-end;
		}

		a.view-all {
			color: $bright-red;
			margin-left: 1rem;
			text-decoration: underline;
			font-style: normal;
			font-weight: 700;
			letter-spacing: 0;
			font-family: $proxima-nova;
		}
	}

	.videos {
		display: grid;
		grid-template-columns: 1fr;
		gap: 50px 20px;

		@include mobile-landscape {
			grid-template-columns: 1fr 1fr;
		}

		@include tablet-portrait {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.video {
			.play-btn {
				position: absolute;
				top: calc(50% - 36px);
				left: calc(50% - 36px);
				z-index: 5;					
			}
			img {
				border-radius: 3px;
			}				
		}

		a {
			display: block;
			position: relative;

			&:hover {
				text-decoration: none;			
			}

			span.title {
				display: block;
				padding-top: 10px;
				font-weight: bold;
				transition: color 0.2s ease-in;
			}
		}
	}
}