.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100000;
	background: rgba(255, 255, 255, 0.9);

	&-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		padding: 20px;

		@include tablet-portrait {
			padding: 80px 20px;
		}
	}

	.close {
		background: $white;
		width: 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		position: absolute;
		right: -0.75rem;
		top: -0.75rem;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
		border: 2px solid $bright-red;
		z-index: 10;

		.close-btn {
			width: 1rem;
			display: block;

			&:before,
			&:after {
				background-color: $bright-red;
				content: '';
				display: block;
				height: 2px;
				transition: all 200ms ease-in-out;
			}

			&:before {
				box-shadow: 0 0 0 $bright-red;;
				transform: translateY(11px) rotate(45deg);
				margin-bottom: 20px;
			}

			&:after {
				transform: translateY(-11px) rotate(-45deg);					
			}
		}


	}



}

section#video-overlay {
	display: none;

	.info {
		width: 100%;
		max-width: 1200px;

		@media screen and (max-height: 800px) {
			max-width: 920px;
		}

		@media screen and (min-width: 1720px) and (min-height: 900px) {
			max-width: 1400px;
		}

		@media only screen and (device-width : 667px)  and (device-height : 375px) {
			max-width: 520px;
		}

		@media only screen and (device-width : 736px)  and (device-height : 414px) {
			max-width: 580px;
		}

		@media only screen and (device-width : 812px)  and (device-height : 375px) {
			max-width: 560px;
		}
	}

	.video-frame {
		@include aspect-ratio(16, 9);
		box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
		background: $black;
	}

	.title {
		padding-top: 20px;
		font-size: 1.125rem;
		font-family: $proxima-nova;
		color: $blue;
		font-weight: bold;
	}
}

body.video-overlay-open {
	overflow: hidden;
}