$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #8A8A8A;
$charcoal: #5F5F5F;
$slate: #221924;
$black: #000;

$red: #9D1535;
$blue: #002B5C;

$bright-red: #B30839;
$citrine: #ffdc00;
$green: #4bb207;
$light-blue: #2964A8;

$gold: #B19E7C;