article.col {
	width: 100%;
	border: 1px solid #ccc;
	background: $white;

	.photo {
		overflow: hidden;

		a {
			display: block;
			@include aspect-ratio(4, 3);

			@include mobile-landscape {
				@include aspect-ratio(1, 1);
			}

			@include tablet-landscape {
				@include aspect-ratio(16, 9);
			}
		}

		img {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
			transition: all 0.2s ease-in;

			&:hover {
				transform: scale(1.05);
				transform-origin: center;
			}
		}
	}

	.info {
		padding: 20px;

		.meta {
			padding-bottom: 15px;

			@include tablet-landscape {
				padding-top: 10px;
			}

			.date {
				letter-spacing: 0.02em;
			}
		}

		.categories {
			padding-top: 1rem;
			display: flex;
			align-items: center;

			a {
				margin: 0 10px 10px 0;

				&:nth-child(n+3) {
					display: none;
				}
			}
		}

	}
}