article.cover-full {
	a.cover-link {
		display: block;
		@include aspect-ratio(4, 3);

		@include mobile-landscape {
			@include aspect-ratio(16, 9);
		}

		@include tablet-landscape {
			@include aspect-ratio(16, 6);
		}
	}

	.info-wrapper {
		max-width: 960px;
	}

	.meta {
		padding-bottom: 10px;

		@include tablet-landscape {
			padding-bottom: 25px;
		}
	}

	.headline {
		padding: 0 20px;

		h3 {
			font-weight: 900;
			font-style: italic;
			font-family: $futura;
		}
	}
}