article.cover-half {
	a.cover-link {
		display: block;
		@include aspect-ratio(4, 3);

		@include mobile-landscape {
			@include aspect-ratio(1, 1);
		}

		@include tablet-landscape {
			@include aspect-ratio(16, 9);
		}
	}
	
	.info-wrapper {
		max-width: 480px;
	}

	.meta {
		padding-bottom: 0.5rem;
	}

	.headline {
		padding: 0 1rem;

		h3 {
			font-weight: 900;
			font-style: italic;
			font-family: $futura;
		}
	}
}