article.cover {
	img {
		width: 100% !important;
		height: 100% !important;
		object-fit: cover;
		transition: all 0.2s ease-in;
		filter: saturate(0.5) brightness(0.8) contrast(1.1);
	}

	.content {
		overflow: hidden;
	}

	.info {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		background: rgba(0, 43, 92, 0.5);

		.info-wrapper {
			text-align: center;
			color: $white;
		}

		.meta {
			.date {
				&:after {
					margin: 10px auto 0 auto;
				}
			}
		}

		.headline {
			transition: all 0.2s ease-in;
			& > * {
				text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
			}

			h3 {
				@include ms-respond(font-size, 2);

				@include tablet-portrait {
					@include ms-respond(font-size, 4);
				}
			}
		}
	}


	a.cover-link {
		height: 100%;
		
		&:hover {
			img {
				transform-origin: center;
				transform: scale(1.05);
			}

			.info {
				.headline {
					opacity: 1;
				}
			}
		}
	}

	.categories {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0.625rem;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;

		@include tablet-landscape {
			padding: 1.25rem;
		}

		a {			
			@media screen and (max-width: 767px) {
				&:nth-child(n+4) {
					display: none;
				}
			}

			& + a {
				margin-left: 10px;
			}
		}
	}
}