article.news {
	.meta {
		.date {
			font-family: $proxima-nova;
			text-transform: uppercase;
			font-weight: bold;

			&:after {
				content: '';
				display: block;
				width: 2rem;
				height: 0.25rem;
				background: $bright-red;
				margin: 0.5rem 0 0 0;
			}
		}
	}
}