.about-main.contacts {
	padding-top: 0;

	section.about-main {
		overflow: hidden;
	}
	
	.filter {

		input {
			width: 100%;
			max-width: 400px;
			height: 40px;
			line-height: 40px;
			padding: 0 10px;
			font-size: 1.125rem;
			font-family: $proxima-nova;
		}
	}

	nav.anchor-links {
		margin-bottom: 3rem;

		.nav-flexbox {
			display: block;
			padding: 1.5rem;

			.nav-label {
				padding: 0 0 1rem 0;
			}

			.links {
				display: block;

				.link {
					& + .link {
						margin: 0;
						padding-top: 1rem;

						&:before {
							display: none;
						}
					}
				}
			}
		}
	}

	.contacts-list {

		& + .contacts-list {
			margin-top: 6rem;
			padding-top: 0;
		}

		.section-header {
			padding-bottom: 1rem;
		}

		table {
			background: $white;
			border-radius: 3px;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
			font-family: $proxima-nova;
			width: 100%;

			thead {
				text-align: left;
				position: relative;

				&:before {
					content: '';
					width: 16px;
					height: 12px;
					background: url(images/icon-down-caret-white.svg) no-repeat 0 0;
					background-size: 100%;
					position: absolute;
					top: 56px;
					right: 20px;
					z-index: 10;
					transition: all 0.075s ease-in;

					@include desktop {
						top: 60px;
					}
				}

				th {
					padding: 15px 20px;
					background: $blue;
					color: $white;
					font-size: 0.75rem;
					text-transform: uppercase;
					letter-spacing: 0.1em;

					&.state {
						max-width: 60px;
					}
				}
			}

			&.hide {
				thead {
					&:before {
						transform: rotate(180deg);
					}
				}
			}

			tbody {

				td {
					padding: 15px 20px;
					vertical-align: center;
					font-size: 0.8125rem;
					line-height: 1.125em;

					&.name {
						min-width: 180px;
						font-weight: bold;
						font-size: 0.875rem;
					}

					&.state {
						max-width: 60px;
					}
				}

				tr + tr {
					td {
						border-top: 1px solid #f5f5f5;
					}
				}

			}

			.vacant td {
				font-weight: normal;
				font-style: italic;
				background: $off-white;
				opacity: 0.5;

				&.name {
					font-weight: normal;
				}
			}

			.phone {
				min-width: 140px;
			}
		}
	}

	.contact-table {
		thead {
			&:hover {
				cursor: pointer;
			}
		}

		&.hide {

			tbody {
				display: none;
			}
		}
	}
}