.employment-positions {

    .listing {
        background: $white;
        margin-top: 2rem;
        padding: 2rem;
        border-radius: 3px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

        .application-deadline {
            padding-top: 0.5rem;

            h5 {
                font-weight: 600;
                letter-spacing: 0.025em;
                text-transform: uppercase;
                font-family: $proxima-nova;
                font-size: 0.6875rem;
                color: $light-blue;
            }
        }

        .copy {
            padding-top: 1rem;
        }

        .cta {
            padding-top: 1rem;
        }
    }

}