.about-main.governance {
	padding-bottom: 4rem;

	.info.extended {
		padding-bottom: 6rem;
	}
	
	section.files {
		& + section.files {
			padding-top: 6rem;
		}

		.file-grid {
			display: grid;
			gap: 1.5rem;

			@include mobile-landscape {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet-landscape {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}