.about-main.about {
    color: $blue;
    display: grid;
    gap: 0 2rem;
    grid-template-columns: repeat(4, 1fr);

	@include mobile-landscape {
		grid-template-columns: repeat(8, 1fr);
    }
    
	@include tablet-portrait {
		grid-template-columns: repeat(5, 1fr);
	}

	@include tablet-landscape {
		grid-template-columns: repeat(8, 1fr);
    }
    
    & > * {
        grid-column: 1 / -1;
    }

    .section-header {
        padding-bottom: 1rem;
    }

    .overview {
        padding-bottom: 2rem;

        .photo {
            padding: 1rem;
            background: $white;
            margin-bottom: 2rem;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

            &-wrapper {
                @include aspect-ratio(16,9);
                @include cover-img;
            }
        }
    }

    .mission {
        background: $blue;
        color: $white;
        padding: 2rem;
    }

    .vision {
        margin: 2rem 0;
        background: $bright-red;
        color: $white;
        padding: 2rem;
    }    

    .organization {
        margin: 0 0 2rem 0;
        background: $white;
        color: $blue;
        padding: 2rem;

        .graphic {
            padding-top: 2rem;
        }
    }    

    .contact-info {
        background: $white;
        padding: 2rem;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
    
        .section-header {
            padding-bottom: 0;
        }
    
        .info {
            padding-top: 25px;
    
            @include mobile-landscape {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
    
                .name {
                    width: 100%;
                }
    
                .basic,
                .hours {
                    width: calc(50% - 25px);
                }
            }
    
            .name {
                padding-bottom: 20px;
                img {
                    max-width: 100px;
                }
            }
    
            .basic {
                div + div {
                    padding-top: 1rem;
                }
    
                .phone {
                    p + p {
                        padding-top: 5px;
                    }
                }
    
                .email {
                    a {
                        text-decoration: underline;
                    }
                }
            } 
    
            .hours {
                padding-top: 1.25rem;
    
                @include tablet-portrait {
                    padding-top: 0;
                }
    
                h4 {
                    padding-bottom: 10px;
                    font-weight: bold;
                    font-style: italic;
                }
    
                .entry {
                    display: flex;
                    align-items: flex-start;
    
                    & + .entry {
                        padding-top: 10px;
                    }
    
                    .day {
                        min-width: 60px;
                        text-transform: uppercase;
                    }
                }
    
                .note {
                    padding-top: 10px;
                    font-style: italic;
                }
            }
        }
    }

}