.about-main.news{

	article.post {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 1fr 5fr;

		& + article.post {
			padding-top: 3rem;
			border-top: 1px solid $light-gray;
			margin-top: 3rem;
		}

		.info {
			h3 {
				font-weight: 900;
				font-size: 1.125em;
				line-height: 1.25em;
				font-style: italic;
				font-family: $futura;

				@include tablet-portrait {
					font-size: 1.25em;
				}

				a {				
					&:hover {
						text-decoration: underline;			
					}
				}
			}

			.deck {
				padding-top: 5px;

				p {
					font-size: 0.875rem;
					line-height: 1.5em;
					font-weight: 300;

					@include tablet-portrait {
						font-size: 0.9375rem;
					}
				}
			}
		}

		.date {
			padding: 2px 0 0 0;
			color: $bright-red;

			em {
				font-size: 0.8125em;
				font-style: normal;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.1em;
			}
		}
	}

	.alm-listing {
		padding-bottom: 1rem;
	}

	.alm-btn-wrap {
		padding-bottom: 4rem;
	}

}