.about-main.board-of-directors,
.about-main.staff {

	.profile-overlay {
		display: none;

		.overlay-wrapper {
			max-width: 680px;
			margin: 0 auto;
			width: 100%;
			@include scroll-y;
			align-items: flex-start;
		}

		.profile-wrapper  {
			background: $white;
			color: $blue;
			border-radius: 10px;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			padding: 25px;
			display: flex;
			flex-wrap: wrap;

			@media screen and (max-height: 700px) {
				margin-bottom: 50px;
			}
		}

		.photo {
			width: 100%;

			img {
				max-width: 200px;
				margin: 0 auto;
			}

			@include tablet-portrait {
				max-width: 200px;
			}
			
		}

		.info {
			flex: 1;

			@include tablet-portrait {
				text-align: left;
				padding-left: 25px;
			}
		}

		.location {
			color: $bright-red;
		}

		.meta {
			display: block;
			padding-top: 0.25rem;
			color: $blue;

			span + span {
				padding-left: 3px;

				&:before {
					content: '·';
					display: inline-block;
					margin-right: 8px;
				}
			}
		}

		.biography {
			text-align: left;
			padding-top: 1.25rem;
		}

		.email {
			padding-top: 1rem;

			p {
				color: $bright-red;
				font-weight: bold;
			}

			a {
				color: $bright-red;
				text-decoration: underline;
			}
		}
	}
}

.about-main.board-of-directors {
	.people-grid {
		.person {
			.info {
				.officer {
					padding-bottom: 5px;
					margin-top: -5px;

					h5 {
						text-transform: uppercase;
						color: $bright-red;
						letter-spacing: 0.05em;
						font-size: 0.75rem;
						font-weight: bold;
						font-family: $proxima-nova;
					}
				}

				.location {
					padding-top: 5px;
					color: $bright-red;
				}
			}
		}
	}
}


.about-main.staff {

	.department {
		&-header {
			padding-bottom: 1rem;
		}

		& + .department {
			padding-top: 4rem;
		}
	}

	.people-grid {
		.profile-trigger {
			&:hover {
				text-decoration: none;
			}
		}

		.meta {
			padding-top: 0.25rem;
			color: $bright-red;
		}
	}

	.profile-overlay {

		.info {
			transform: translateY(0);
		}

		.position {
			padding-top: 0.5rem;

			h5 {
				padding-bottom: 0.25rem;
				color: $bright-red;
			}
			
			em {
				font-size: 0.875rem;
			}
		}

		.email {
			padding-top: 1rem;

			p {
				color: $bright-red;
				font-weight: bold;
			}

			a {
				color: $bright-red;
				text-decoration: underline;
			}
		}
	}
}