section.about-main.suspensions {
	overflow: hidden;

	section.about-page-header {
		padding-bottom: 3rem;
	}
	
	.suspensions-list {
		@include scroll-x;
	
		.header {
			h2 {
				font-weight: bold;
				font-style: italic;
				color: $bright-red;
				padding-bottom: 15px;
				font-size: 1.375rem;
			}
		}
	
		table {
			background: $white;
			border-radius: 3px;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
			font-family: $proxima-nova;
			width: 100%;
	
			thead {
				text-align: left;
				vertical-align: top;
	
				th {
					padding: 15px 20px;
					background: $blue;
					color: $white;
					font-size: 0.75rem;
					text-transform: uppercase;
					letter-spacing: 0.1em;
	
					&.state {
						max-width: 60px;
						text-align: center;
					}
				}
			}
	
			tbody {
	
				td {
					padding: 15px 20px;
					font-size: 0.8125rem;
					line-height: 1.125em;
					vertical-align: middle;
	
					&.name {
						min-width: 180px;
						font-weight: bold;
						font-size: 0.875rem;
					}
	
					&.state {
						max-width: 60px;
						text-align: center;
					}
				}
	
				tr + tr {
					td {
						border-top: 1px solid #f5f5f5;
					}
				}
			}
		}
	}
}