.volunteer-anchor-links {
    text-align: left;

    .nav-flexbox {
        display: inline-block;
        padding: 1.5rem;

        .nav-label {
            width: auto;
            padding-bottom: 1rem;
        }
        
    }

    .links {
        padding-top: 0.5rem;
        display: block;
    }

    .link {
        & + .link {
            padding-top: 1rem;
            padding-left: 0;
            margin-left: 0;
            &:before {
                display: none;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.volunteer-section {
    background: $white;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

    .positions {
        padding-top: 1rem;

        .listing {

            & + .listing {
                margin-top: 2rem;
                border-top: 1px solid #eee;
                padding-top: 2rem;
            }
            
            .application-deadline {
                padding: 0.5rem 0 1rem 0;
    
                h5 {
                    font-weight: 600;
                    letter-spacing: 0.025em;
                    text-transform: uppercase;
                    font-family: $proxima-nova;
                    font-size: 0.6875rem;
                    color: $light-blue;
                }
            }

            .cta {
                padding-top: 1rem;

                a {
                    font-size: 0.75rem;
                }
            }
        }
    }
}