.site-header {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	position: sticky;
	top: 0;
	z-index: 100;
	font-family: $proxima-nova;
	background: $white;

	@import "template-parts/header/utility-menu";

	@import "template-parts/header/main-menu";
}

@import "template-parts/header/mobile-menu";

@import "template-parts/header/nav-overlay-open";

@import "template-parts/header/active-nav";

@import "template-parts/header/search-overlay";