.archived-posts.search-results {

    form {
        margin: 0 auto;
        display: flex;
        align-items: center;

        label {
            display: block;
            width: 100%;
            padding-right: 10px;

            input {
                width: 100%;
                height: 34px;
                line-height: 34px;
                padding: 0 10px;
                font-size: 1rem;
                border: 2px solid $blue;
                color: $blue;
                font-weight: bold;
                transition: all 0.2s ease-in;
                background: transparent;

                @include placeholder {
                    color: $blue;
                    opacity: 0.5;
                    font-style: italic;
                }

                &:focus,
                &:active {
                    outline: 0;
                }

                @include tablet-portrait {
                    padding: 0 15px;
                    height: 47px;
                    line-height: 47px;
                    font-size: 1.375rem;
                }
            }
        }

        .search-submit {
            text-transform: uppercase;
            font-family: $proxima-nova;
            letter-spacing: 0.05em;
            border: 2px solid $bright-red;
            padding: 10px 10px 8px 10px;
            font-size: 0.75em;
            display: inline-block;
            color: $bright-red;
            background: transparent;
            transition: all 0.2s ease-in;
            font-weight: 500;

            &:hover {
                background: $bright-red;
                color: $white;
            }

            &:focus,
            &:active {
                outline: 0;
            }

            @include tablet-portrait {
                font-size: 1em;
                padding: 15px 15px 12px 15px;
            }
        }
    }
}