.pagination {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet-landscape {
        padding-top: 6rem;
    }

    a {
        font-family: $proxima-nova;
        font-weight: bold;
        display: block;
        padding: 0.5rem 0.75rem;
        border: 2px solid;
        margin: 0 0.5rem;
        font-size: 0.875rem;

        &:hover {
            background: $blue;
            color: $white;
            text-decoration: none;
            border: 2px solid $blue;
        }
    }
    
    span.current {
        font-family: $proxima-nova;
        font-weight: bold;
        display: block;
        padding: 0.5rem 0.75rem;
        border: 2px solid $bright-red;
        margin: 0 0.5rem;
        color: $white;
        background: $bright-red;
        font-size: 0.875rem;
    }
}