.search-results-list {
    padding-top: 3rem;

    @include tablet-portrait {
        padding-top: 6rem;
    }

    @include tablet-landscape {
        grid-column: 4 / span 9;
    }

    article {
        background: $white;
        border: 1px solid #ccc;

        @include mobile-landscape {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
        }

        & + article {
            margin-top: 3rem;
        }

        .photo {
            @include aspect-ratio(16, 9);

            a, img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .type {
                padding-bottom: 0.5rem;

                h5 {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $bright-red;
                }
            }

            .copy {
                padding-top: 1rem;
            }
        }
    }

    .video-result {
        .photo {
            &:before {
                display: none;
            }
        }

        .thumbnail {
            @include aspect-ratio(16, 9);
        }

        .play-btn {
            position: absolute;
            top: calc(50% - 2rem);
            left: calc(50% - 2rem);
            z-index: 10;
        }
    }
    
    .resource-result {
        .content {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                max-width: 4rem;
            }
        }

        .url {
            padding-top: 1.5rem;
    
            a {
                display: inline-block;
                font-weight: bold;
                font-family: $proxima-nova;
                border-bottom: 1px solid;
                padding-bottom: 1px;
                color: $bright-red;
                position: relative;
    
                &:hover {
                    text-decoration: none;
                }
    
                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    right: -16px;
                    top: 0;
                    width: 12px;
                    height: 12px;
                    background: url(images/icon-external-link-red.svg) no-repeat 0 0;
                    background-size: 12px 12px;
                }
            }
        }
    
        .meta {
            padding-top: 20px;
            margin-top: auto;
        }
    }

    .world-games-player {
        .photo {
            @include aspect-ratio(1, 1);

            img {
                object-position: top center;
            }
        }
    }
}