section.player {
    padding: 3rem 0 0 0;

    .video {
        @include tablet-landscape {
            grid-column: 4 / span 8;
        }

        .video-thumbnail {
            a.video-trigger {
                display: block;
                position: relative;
        
                &:before {
                    display: block;
                    content: '';
                    background: rgba(0, 0, 0, 0.25);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                }
            }

            .play-btn {
                position: absolute;
                top: calc(50% - 36px);
                left: calc(50% - 36px);
                z-index: 12;					
            }
        }

        &-title {
            padding: 1rem 0 3rem 0;
        }
    
    }
    







}