// Youth
body.page-youth .site-header .main-menu .desktop-menu a.nav-youth {
	border-bottom: 3px solid $bright-red;
}


// College
body.page-college .site-header .main-menu .desktop-menu a.nav-college,
body.post-type-archive-college_teams .site-header .main-menu .desktop-menu a.nav-college,
body.single-college_teams .site-header .main-menu .desktop-menu a.nav-college  {
	border-bottom: 3px solid $bright-red;
}


// Club
body.page-club .site-header .main-menu .desktop-menu a.nav-club,
body.post-type-archive-club_teams .site-header .main-menu .desktop-menu a.nav-club,
body.single-club_teams .site-header .main-menu .desktop-menu a.nav-club {
	border-bottom: 3px solid $bright-red;
}


// Team USA
body.page-team-usa .site-header .main-menu .desktop-menu a.nav-team-usa,
body.single-world_games_players .site-header .main-menu .desktop-menu a.nav-team-usa {
	border-bottom: 3px solid $bright-red;
}


// Watch
body.page-watch .site-header .main-menu .desktop-menu a.nav-watch,
body.tax-video_filters .site-header .main-menu .desktop-menu a.nav-watch,
body.post-type-archive-videos .site-header .main-menu .desktop-menu a.nav-watch,
body.single-videos .site-header .main-menu .desktop-menu a.nav-watch {
	border-bottom: 3px solid $bright-red;
}


// News
body.blog .site-header .main-menu .desktop-menu a.nav-news,
body.category .site-header .main-menu .desktop-menu a.nav-news,
body.single-post .site-header .main-menu .desktop-menu a.nav-news  {
	border-bottom: 3px solid $bright-red;
}