.main-menu {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	width: 100%;

	.site-logo {
		display: flex;
		align-items: center;
		padding: 10px 20px;

		@include desktop {
			padding-left: 50px;
		}

		a {
			display: block;
		}

		.usau-logo {
			width: 105px;

			@include tablet-portrait {
				width: 160px;
			}

			a {
				display: block;
				position: absolute;
				z-index: 10;
				width: 105px;
				top: -16px;

				@include tablet-portrait {
					width: 160px;
					top: -24px;
				}
			}
		}

		.olympic-logo {
			max-width: 28px;
			margin-left: 10px;

			@include tablet-portrait {
				max-width: 32px;
			}
		}
	}

	.desktop-menu {
		display: none;

		@include tablet-landscape {
			display: flex;
			align-items: center;
			margin-right: auto;
			padding-left: 20px;
			padding-top: 8px;
		}


		a {
			text-transform: uppercase;
			display: block;
			font-size: 0.875em;
			padding-bottom: 3px;
			border-bottom: 3px solid transparent;
			font-weight: 600;
			letter-spacing: 0.025em;

			@include desktop {
				font-size: 0.9375em;
			}

			&:hover {
				text-decoration: none;
				border-bottom: 3px solid $bright-red;
			}

			& + a {
				margin-left: 30px;

				@include desktop {
					margin-left: 40px;
				}
			}
		}
	}

	.hamburger {
		margin-left: auto;
		padding-right: 20px;
		display: flex;
		align-items: center;

		.nav-trigger {
			width: 35px;
			height: 22px;
		    display: flex;
		    align-items: center;

			.patty {
			    width: 35px;
			    height: 2px;
			    background: $bright-red;
			    border-radius: 2px;
			    margin-left: auto;
			    transition: all 0.2s;

				&:after, &:before {
				    content: '';
				    display: block;
				    width: 35px;
				    height: 2px;
				    background: $bright-red;
				    position: absolute;
				    z-index: 1;
				    border-radius: 2px;
				    transition: all 0.2s;
				}
				&:before {
				    top: -8px;
				}
				&:after {
				    top: 8px;
				}
			}
		}
	}

	.discover-ultimate-link {
		display: none;

		@include mobile-landscape {
			display: block;
		}

		a {
			display: flex;
			align-items: center;
			background: $bright-red;
			color: $white;
			height: 100%;
			padding: 10px 20px 10px 10px;

			@include desktop {
				padding: 10px 40px 10px 15px;
			}

			&:hover {
				text-decoration: none;
			}

			.icon {
				max-width: 28px;

				@include tablet-portrait {
					max-width: 32px;
				}

				img {
					width: 100%;
				}
			}

			.label {
				text-transform: uppercase;
				font-size: 0.875em;
				line-height: 1.125em;
				letter-spacing: 0.05em;
				display: block;
				padding-left: 10px;

				@include tablet-portrait {
					font-size: 1em;
					padding-left: 15px;
				}

				@include desktop {
					font-size: 1.125em;
				}
			}
		}
	}
}