.mobile-menu {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: -100vw;
	width: 100vw;
	height: 100vh;
	background: $white;
	box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.1);
	font-family: $proxima-nova;
	opacity: 0;

	@include mobile-landscape {
		width: 24rem;
		right: -24rem;
		transition: all 0.2s ease-in-out;
	}
	
	.menu-wrapper {
		padding: 2.5rem 1.25rem 15vh 2.5rem;
		height: 100vh;
		@include scroll-y;

		@include tablet-portrait {
			padding: 2.5rem 1.25rem 2.5rem 2.5rem;
		}
	}

	.close {
		display: block;
		position: absolute;
		top: 1rem;
		right: 1.25rem;
		z-index: 10;
		transition: opacity 0.3 ease-in-out;

		img {
			width: 1.5rem;
		}
	}

	.language-switcher {
		position: absolute;
		top: 1rem;
		left: 2.5rem;
		z-index: 10;
	}

	.links {
		padding-top: 2rem;

		.group {
			& + .group {

				&:before {
					content: '';
					display: block;
					width: 40px;
					height: 3px;
					background: $bright-red;
					margin-top: 20px;
					margin-bottom: 25px;
				}
			}

			.link {
				& + .link {
					margin-top: 10px;
				}
			}
	
			a {
				display: inline-block;
				text-transform: uppercase;
				letter-spacing: 0.02em;
				font-size: 0.875em;
				padding: 0.3125rem 0;
				font-weight: 600;
			}			

		}


	}
}