#search-overlay {
	display: none;

	.overlay {
		background: rgba(0, 0, 0, 0.5);
	}

	.info {
		width: 100%;
		max-width: 640px;
		background: $white;
		border-radius: 6px;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
		padding: 2rem;

		@include tablet-portrait {
			padding: 4rem;
		}

		form {
			width: 100%;
			display: flex;
			align-items: flex-end;

			label {
				width: 100%;
				display: block;
				padding-right: 10px;

				span.search-label {
					display: block;
					padding-bottom: 5px;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: 600;
					font-size: 0.75rem;
					color: $blue;
				}

				input {
					width: 100%;
					height: 40px;
					line-height: 40px;
					padding: 0 10px;
					font-size: 0.875rem;
					border: 2px solid $blue;
					color: $blue;
					font-weight: bold;
					transition: all 0.2s ease-in;
					appearance: none;

					@include placeholder {
						color: $blue;
						opacity: 0.5;
						font-style: italic;
					}

					&:focus,
					&:active {
						outline: 0;
					}

					@include tablet-portrait {
						padding: 0 15px;
						height: 60px;
						font-size: 1.375rem;
					}
				}
			}

			.search-submit {
				text-transform: uppercase;
				font-family: $proxima-nova;
				letter-spacing: 0.05em;
				border: 2px solid $bright-red;
				padding: 12px 10px 10px 10px;
				font-size: 0.875em;
				display: inline-block;
				color: $bright-red;
				background: $white;
				transition: all 0.2s ease-in;
				font-weight: 600;

				&:hover {
					background: $bright-red;
					color: $white;
				}

				&:focus,
				&:active {
					outline: 0;
				}

				@include tablet-portrait {
					font-size: 1em;
					padding: 21px 25px 19px 25px;
				}
			}
		}

		
		.common-searches {
			padding-top: 1.5rem;
			color: $mid-gray;

			@include tablet-portrait {
				padding-left: 1.25rem;
			}

			a {
				color: $charcoal;
				text-decoration: underline;
			}

			h4 {
				font-weight: 400;
				font-style: italic;
				padding-bottom: 1rem;
				font-size: 0.875rem;

				@include tablet-portrait {
					font-size: 1rem;
				}
			}

			ul {
				list-style-type: disc;
				padding-left: 2.5rem;

				li {
					font-size: 0.8125rem;

					@include tablet-portrait {
						font-size: 0.875rem;
					}

					& + li {
						padding-top: 0.625rem;
					}
				}
			}


		}

	}
}

body.search-open {
	overflow: hidden;

	#search-overlay {
		display: block;
	}
}

.searchwp-live-search-results {
	font-family: $proxima-nova;

	.searchwp-live-search-result {
		a {
			font-family: $proxima-nova;
			font-weight: 600;

			span.post-type {
				display: inline-block;
				font-size: 0.5625rem;
				text-transform: uppercase;
				background: $bright-red;
				padding: 0.375rem 0.5rem 0.25rem;
				border-radius: 4px;
				color: $white;
				font-weight: 700;
				letter-spacing: 0.05em;
				margin-right: 0.5rem;
			}
		}
	}

	.searchwp-revised-search-notice {
		padding: 1em;
		background: $bright-red;
		color: $white;
		font-weight: 600;
	}
}

