.utility-menu {
	background: $blue;
	color: $white;
	padding: 15px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include desktop {
		padding: 15px 50px;
	}

	a {
		color: $white;
		display: block;
		line-height: 1em;
	}

	.announcement-menu {
		display: none;

		@include tablet-landscape {
			display: flex;
		}			

		a {
			font-size: 0.6875em;
			display: block;

			@include tablet-landscape {
				font-size: 0.75em;
			}

			& + a {
				border-left: 1px solid $white;
				padding-left: 10px;
				margin-left: 10px;
			}
		}
	}

	.utility-links {
		width: 100%;
		justify-content: space-between;
		display: flex;
		align-items: center;

		@include tablet-portrait {
			margin-left: auto;
			width: auto;
			justify-content: flex-end;
		}

		a {
			font-size: 0.75em;
		}

		.search-link {
			@include mobile-landscape {
				margin-left: auto;
				padding-right: 2rem;
			}
			
			a {
				display: flex;
				align-items: center;

				span {
					display: block;

					&.icon {
						padding-right: 5px;
						img {
							width: 12px;
						}
					}
				}
			}
		}

		.login-link {
			padding-left: 2rem;
			a {
				text-transform: uppercase;
			}
		}
	}

	.social-links {
		display: none;

		@include mobile-landscape {
			display: flex;
		}

		.link {
			a {
				img {
					filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(9deg) brightness(200%) contrast(101%);
				}
			}
		}
	}

}