#us-map{
    display: block;
    width: 100%;
    height: 100%;

    path:hover,
    circle:hover {
        stroke: $bright-red !important;
        stroke-width:2px;
        stroke-linejoin: round;
        fill: $bright-red !important;
        cursor: pointer;
    }

    #path67 {
        fill: none !important;
        stroke: $light-gray !important;
        cursor: default;
    }

}