section.states-list {
	padding: 3rem 0;

	.list-columns {
		columns: 2;
		text-align: center;
		border-top: 2px solid $blue;
		padding-top: 50px;

		@include mobile-landscape {
			columns: 3;
		}

		@include tablet-portrait {
			columns: 4;
		}

		@include tablet-landscape {
			columns: 5;
		}
	}

	.state {
		padding: 5px 0;
		font-family: $proxima-nova;

		a {
			display: inline-block;
			font-size: 0.8125rem;
			font-weight: bold;
		}
	}
}