.local-submit {
    background: $bright-red;
    color: $white;
    margin-top: 3rem;
    padding: 2rem;
    display: grid;
    gap: 0 2rem;
    grid-template-columns: repeat(1, 1fr);

    @include tablet-portrait {
        grid-template-columns: repeat(12, 1fr);
        margin-top: 6rem;
    }

    & > * {
        grid-column: 1 / -1;
    }

    .headline {
        @include tablet-portrait {
            grid-column: 1 / span 8;
        }

        h5 {
            font-size: 1.125rem;

            @include tablet-portrait {
                font-size: 1.25rem;
            }
        }
    }

    .copy {
        @include tablet-portrait {
            grid-column: 1 / span 8;
        }
    }

    .cta {
        padding-top: 2rem;

        @include tablet-portrait {
            padding-top: 0;
            display: flex;
            align-items: center;
            grid-row: 1 / span 2;
            grid-column: 9 / span 4;


        }

        .btn.white {
            font-weight: bold;
            @include tablet-portrait {
                margin-left: auto;
            }

            &:hover {
                color: $bright-red;
            }
        }
    }
}