p#preface_title,
.appendixTitle {
    color: $bright-red;
    font-size: 1.5rem;
}

.appendixes {
    font-family: $proxima-nova;

    & > div {
        padding-top: 6rem;
    }

    @import 'template-parts/rules/typography';


}

.appendixTitle {
    font-weight: bold;
    margin: 1em 0;
}

.appendix {
    font-weight: normal;
}

div.appendixTitle + div.rulesBody, div.rulesBody + div.rulesBody {
    margin: 1em 0;
}

.appendix > ol {
    font-size: 1em;
    font-weight: bold;
    counter-reset: item;
    list-style-type: none;
    *list-style-type: decimal; /*Conditional hack for ie7*/
}

.appendix > ol > li {
    margin-left: -1.3em;
}

.appendix > ol > li:before {
    padding-left: -1.8em;
    content: 'E' counter(item, decimal) '. ';
    counter-increment: item;
}

.e > ol> li:before {
    content: 'E' counter(item, decimal) '. ';    
}

.d > ol> li:before {
    content: 'D' counter(item, decimal) '. ';    
}

.c > ol> li:before {
    content: 'C' counter(item, decimal) '. ';    
}

.b > ol> li:before {
    content: 'B' counter(item, decimal) '. ';    
}

.a > ol> li:before {
    content: 'A' counter(item, decimal) '. ';    
}