// Tooltip
.tooltip {
    position: relative;
    display: inline;
    padding-bottom: 0;
    border-bottom: 1px dashed $bright-red;
    &:hover {
        cursor: pointer;
    }
}

// Hand Signals
.handSignals img {
    max-height: 120px;
}

.handSignals {
    text-align: center;
}

.handSignals td {
    padding-top: 0;
    width: 200px;
}

.handSignals .desc td {
    padding-bottom: 3em;
}

table.handSignals,
table.fieldDiagram,
table.normal {
    border-collapse: collapse;
    font-size: 1rem;
    font-weight: normal;
}

.fieldDiagram {
    margin-top: 1rem;
}

.handSignals {
    margin-top: 2rem;
    td {
        vertical-align: middle;

        img {
            margin: 0 auto;
        }
    }

    .desc {
        td {
            font-weight: bold;
            font-family: $proxima-nova;
            font-size: 0.875rem;
            color: $blue;
            padding: 1rem 0 6rem 0;
        }
    }
}

#field_lines {
    width: 30px;
}

#field_line_names {
    padding-top: 9px;
}

.fieldSizeHeader {
    text-decoration: underline;
}

.annotation {
    font-size: 0.875rem;
    font-style: italic;
}

.youth {
    font-size: 0.875rem;
    margin-top: 2rem;

    tbody {
        tr {
            &:first-of-type {
                font-weight: bold;
                background: $blue;
                color: $white;

                td {
                    padding: 0.5rem 1rem;
                }
            }

            &:nth-child(even) {
                background: #eee;
            }

            td:first-of-type {
                font-weight: bold;
            }
        }

        td {
            padding: 1rem;
            vertical-align: top;
        }
    }
}

.rules {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;

    tbody {
        tr {
            &:nth-child(even) {
                background: #fafafa;
            }

            td:first-of-type {
                font-weight: bold;
            }
        }

        td {
            width: 50%;
            padding: 1rem;
            vertical-align: top;
            font-size: 0.875rem;
            border-top: 1px solid #e5e5e5;
        }
    }
}
