@mixin list-styles {
    li {
        padding-left: 1.5rem;
        &:before {
            position: absolute;
            left: 0;
            font-weight: bold;
        }
    }
    
    & > li {
        counter-increment: level-one;
        
        &:before {
            content: counter(level-one) ". ";
        }

        & > ol {
            list-style-type: none;
            counter-reset: level-two;

            & > li {
                font-weight: normal;
                counter-increment: level-two;

                &:before {
                    content: counter(level-two, upper-alpha) ". ";
                }

                & > ol {
                    list-style-type: none;
                    counter-reset: level-three;

                    & > li {
                        counter-increment: level-three;
        
                        &:before {
                            content: counter(level-three, decimal) ". ";
                        }

                        & > ol {
                            list-style-type: none;
                            counter-reset: level-four;
        
                            & > li {
                                counter-increment: level-four;
                
                                &:before {
                                    content: counter(level-four, lower-alpha) ". ";
                                }

                                & > ol {
                                    list-style-type: none;
                                    counter-reset: level-five;
                
                                    & > li {
                                        counter-increment: level-five;
                        
                                        &:before {
                                            content: counter(level-five, decimal) ". ";
                                        }

                                        & > ol {
                                            list-style-type: none;
                                            counter-reset: level-six;
                        
                                            & > li {
                                                counter-increment: level-six;
                                
                                                &:before {
                                                    content: counter(level-six, lower-alpha) ". ";
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }    
}