.table-of-contents {
    border: 1px solid #002B5C;
    padding: 2rem;
    max-width: 340px;
    font-size: 0.9375rem;

    ol {
        margin-left: 1.5rem;
    
        li {
            font-weight: normal;
        }
    }
    
    .toc-header {
        padding-bottom: 0.5rem;
    }
    
    .toc-preface {
        padding: 0 0 0.5rem 0;
    }

    .toc-rules {

        li {
            padding-left: 0.25rem;
            color: $blue;
        }
    }

    .toc-appendix {
        padding: 0.5rem 0 0 0;

        p + p {
            padding-top: 0.5rem;
        }
    }    
}

