.main-rules,
.appendices {
    list-style-position: outside;
    list-style-type: none;
    counter-reset: level-one;
    font-weight: bold;

    @include list-styles;

    ol {
        padding: 1rem 0;
    }

    & > ol {
        margin-left: 0;
    }
}

.main-rules,
.appendices {
    margin-left: 0;

    & > li {
        color: $bright-red;
        font-size: 1.5rem;
        padding-left: 2.5rem;

        & > * {
            color: $slate;
            font-size: 1rem;
        }

        & > ol {
            margin-left: -1.25rem;
        }

        & + li {
            padding-top: 6rem;
        }

        & > ol {
            padding-top: 1rem;

            & > li ol {
                padding: 1.5rem 0 1rem 0;
            }
        }
    }
}

.appendices {
    margin-top: 6rem;

    & * {
        font-weight: normal;
    }

    & > li {
        font-weight: bold;
        &::before {
            display: none;
        }
    }

    .ruleBody,
    .rulesBody {
        padding-top: 1rem;
    }
}
