.about-nav {
    margin-bottom: 3rem;

    @include tablet-portrait {
        margin-bottom: 0;
    }

    .nav-wrapper {
        background: $off-white;
        padding: 1.5rem;
        border-radius: 3px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

        @include tablet-landscape {
            padding: 2.25rem 1.5rem;
        }
    }

    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            max-width: 120px;
            
            a {
                display: block;
            }
        }

        .toggle {
            @include tablet-portrait {
                display: none;
            }

            a {
                display: flex;
                align-items: center;

                &:hover {
                    text-decoration: none;
                }

                &:after {
                    display: block;
                    content: '';
                    width: 16px;
                    height: 9px;
                    margin-left: 0.5rem;
                    background: url(images/icon-down-caret-blue.svg) no-repeat 0 0;
                    background-size: 100%;
                    transition: all 0.1s ease;
                }

                span {
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 0.05em;
                }
            }
        }
    }

    &.show {
        .toggle {
            a {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }

        .links {
            padding-top: 1.5rem;
            height: auto;

            @include tablet-portrait {
                padding-top: 0;
            }
        }
    }

    .links {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;

        @include tablet-portrait {
            height: auto;
            margin-top: 1.5rem;
        }

        .link {

            & + .link {
                padding-top: 5px;

            }
        }

        a {
            font-family: $proxima-nova;
            font-size: 0.8125rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            display: block;
            border-radius: 5px;
            padding: 11px 12px 8px 12px;

            &:hover,
            &.active {
                background: #f5f5f5;
                text-decoration: none;
            }
        }
    }

}