.about-content {
    padding-top: 4rem;

    .about-nav {
        @include tablet-portrait {
            grid-column: 2 / span 3;
        }
    }

    .about-main {
        @include tablet-portrait {
            grid-column: 5 / span 5;
        }

        @include tablet-landscape {
            grid-column: 6 / span 8;
        }
    }
}