#editor .editor-styles-wrapper {
	font-family: $futura;

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1em;
	}

	.acf-block-preview > section {
		padding: 0;
	}

	.editor-post-title__block .editor-post-title__input {
		font-family: $futura;
		font-weight: 800;
	}
}

section.team-usa-archive {
	background: $white;
}

.wp-block {
	max-width: 1200px;

	a {
		transition: all 0.3s ease-in-out;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	h1.cover-title {
		color: $white;
		text-transform: uppercase;
		font-family: $futura-condensed;
		font-style: italic;
		font-weight: 800;
		font-size: 3em;
		line-height: 1em;
		text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

		@include mobile-landscape {
			font-size: 3em;
		}

		@include tablet-portrait {
			font-size: 6em;
		}
	}

	.copy {
		&.p2 {
			font-size: 1.125rem;
			line-height: 1.6125rem;

			@include tablet-landscape {
				font-size: 1.125em;
			}
		}
	}

	.hub-navigation {
		background: $bright-red;

		.hub-wrapper {
			display: block;

			@include tablet-portrait {
				max-width: 100%;
				position: static;
				right: 0;
				bottom: 0;
				z-index: 1;
				box-shadow: none;
				padding: 20px;
				border-radius: 0;
			}

			@include tablet-landscape {
				max-width: 100%;
			}
		}

		.admin-link {
			position: static;
		}
	}

	.all-rankings {
		& > .wp-block-group__inner-container {
			grid-template-columns: 1fr;
		}
	}

}

