section.player-gallery {
    padding: 3rem 0;
    background: $white;

    @include tablet-portrait {
        padding: 6rem 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 3rem 2rem;
    }

    .player {
        .info {
            padding-top: 0.5rem;
            text-align: center;

            h4 {
                font-weight: 700;
                font-size: 0.875rem;
            }
        }
    }
}