article.profile {
    padding-top: 3rem;

    @include tablet-portrait {
        padding-top: 0;
        grid-row: 1;
        grid-column: 2 / span 5;
    }

    @include tablet-landscape {
        grid-column: 2 / span 8;
    }

    section.profile-section {
        & + section.profile-section {
            padding-top: 3rem;
            border-top: 1px solid $light-gray;
            margin-top: 3rem;
        }

        .headline {
            padding-bottom: 1rem;
        }
    }

    table {
        text-align: left;
        background: $white;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        font-family: $proxima-nova;
        font-size: 0.875rem;

        .year {
            width: 120px;
            font-weight: bold;

            @include tablet-portrait {
                width: 200px;
            }
        }

        thead {
            th {
                background: $bright-red;
                color: $white;
                padding: 1rem;

            }
        }

        tbody {
            tr:nth-child(even) {
                td {
                    background: #f3f3f3;
                }						
            }

            td {
                padding: 1rem;
            }
        }
    }
}