aside.vitals {
    font-family: $proxima-nova;

    @include tablet-portrait {
        grid-column: 7 / span 3;
    }

    @include tablet-landscape {
        grid-column: 11 / span 3;
    }

    .vitals-wrapper {
        background: $white;
        padding: 40px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

        @include tablet-portrait {
            padding: 20px;
        }
    }

    .headshot {
        max-width: 240px;
        margin: 0 auto;
        padding-bottom: 15px;

        img {
            height: auto;
        }
    }

    .name {
        padding-bottom: 1.5rem;
        text-align: center;

        h2 {
            color: $blue;
            font-size: 1.25rem;
            font-weight: bold;
        }
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
        padding-bottom: 1.5rem;

        .social-link {
            & + .social-link {
                padding-left: 1rem;
            }

            a {
                display: block;
                width: 1.25rem;
                height: 1.25rem;
            }

            svg {
                display: block;
                width: 100%;
                height: 100%;
                fill: $bright-red;
                object-fit: contain;

                path {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .vital {
        max-width: 15rem;
        margin: 0 auto;

        & + .vital {
            padding-top: 1.5rem;
        }

        h3 {
            font-weight: bold;
            padding-bottom: 0.25rem;
            font-size: 0.875rem;
            letter-spacing: 0.05em;
            color: $blue;
            text-transform: uppercase;
        }

        p {
            font-size: 0.9375rem;
        }
    }
}
