.filters-container {
    background: $white;
    padding: 2rem 1.5rem;
    margin-bottom: 1.5rem;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    .filters-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;		
    }

    .filters-header {
        font-size: 1.25rem;
        font-weight: 700;
        font-family: $proxima-nova;
        color: $bright-red;
        padding-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        text-align: center;
    }

    .alm-filters {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;
        min-width: 70%;
        margin: 0;
    }

    .alm-filter {
        margin: 0;
        width: 100%;			
        padding: 0;

        @include mobile-landscape {
            max-width: 200px;

            &--search {
                max-width: 240px;
            }
        }

        & + .alm-filter {
            margin: 1.5rem 0 0 0;

            @include mobile-landscape {
                margin: 0 0 0 50px;

                &--search {
                    margin-top: 1.5rem;
                }
            }

            @media screen and (min-width: 1158px) {
                &--search {
                    margin-top: 0;
                }
            }
        }

        &--title h3 {
            font-size: 0.75rem;
            font-weight: 700;
            font-family: $proxima-nova;
            color: $blue;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding-bottom: 5px;
            margin-bottom: 0;
        }
        
        $border_color: $blue;
        $text_color:  $blue;
        $selector_color: $blue;
        $bg_color: rgba(255,255,255,0.5);
        
        select {
          appearance: none;
          font-family: $proxima-nova;
          width: 100%;
          padding: .7em 3em .5em 1em;
          /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
          @media screen and (-webkit-min-device-pixel-ratio:0) {
            padding-right:3em;
          }
          
          border: 2px solid $border_color;
          border-radius: 0;
          background-color: $bg_color;
          color: $text_color;
          font-weight: bold;
          
          outline: none;
          display: inline-block;
          background-image: 
            linear-gradient(45deg, transparent 50%, $selector_color 50%),
            linear-gradient(135deg, $selector_color 50%, transparent 50%),
            linear-gradient(to right, $white, $white),
            linear-gradient(to right, $selector_color, $selector_color);
          background-position: 
            calc(100% - 21px) 50%,
            calc(100% - 13px) 50%,
            calc(100% - 3px) 50%,
            calc(100% - 2px) 50%;
          background-size: 8px 8px, 8px 8px, 36px calc(100% - 6px), 38px calc(100% - 4px);
          background-repeat: no-repeat;
          
          // Fix for IE 11
          &::-ms-expand {
            display: none;
          }
        }
    }

    #search-text {
        border: 2px solid $blue;
        font-family: $proxima-nova;
        color: $blue;
        font-weight: bold;
    }

    button[type=button] {
        background: $blue;
        box-shadow: none;
        font-family: $proxima-nova;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        &:active,
        &:focus {
            outline: none;
        }
    }

    .filters-clear {
        text-align: left;
        width: 100%;

        @include tablet-portrait {
            text-align: center;
        }
        
        @include tablet-landscape {
            width: auto;
        }

        .clear-btn {
            color: $bright-red;
            font-size: 0.75rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}