.archived-posts {

	.section-header {
		padding: 3rem 0 0 0;

		@include tablet-portrait {
			padding: 6rem 0 1rem 0;
		}
	}

	article.archive {

		& + article.archive {
			margin-top: 1.5rem;
		}
	}

	.alm-reveal + .alm-reveal {
		margin-top: 1.5rem;
	}

	article.archive {
		display: grid;
		border: 1px solid #ccc;
		background: $white;

		@include mobile-landscape {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.photo {
				width: 50%;
				height: 100%;
			}

			.info {
				flex: 1;
			}
		}

		.photo {
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
			overflow: hidden;

			a {
				display: block;
				@include aspect-ratio(16, 9);

				@include mobile-landscape {
					@include aspect-ratio(4, 3);
				}

				@include tablet-landscape {
					@include aspect-ratio(16, 9);
				}
			}

			img {
				width: 100% !important;
				height: 100% !important;
				object-fit: cover;
				transition: all 0.2s ease-in;

				&:hover {
					transform: scale(1.05);
					transform-origin: center;
				}
			}
		}

		.info {
			padding: 1.25rem;

			@include tablet-landscape {
				padding: 2rem;
			}

			.headline {
				h4 {
					@include mobile-landscape {
						@include ms-respond(font-size, 0);
					}

					@include tablet-portrait {
						@include ms-respond(font-size, 2);
					}
				}
			}

			.meta {
				padding-bottom: 1rem;

				@include tablet-landscape {
					padding-bottom: 1.5rem;
				}

				.date {
					font-weight: 900;
					font-size: 0.875rem;
					letter-spacing: 0.02em;

					@include mobile-landscape {
						font-size: 0.75rem;
					}

					@include tablet-portrait {
						font-size: 0.875rem;
					}
				}
			}
			
			.categories {
				padding-top: 15px;
				display: flex;
				align-items: center;

				a {
					font-size: 0.75rem;
					letter-spacing: 0.05em;
					padding: 7px 10px 5px 10px;
					margin: 0 10px 10px 0;

					@include mobile-landscape {
						font-size: 0.6125rem;
						padding: 5px 8px 3px 8px;
						border-width: 1px;
					}

					@include tablet-portrait {
						font-size: 0.75rem;
						padding: 7px 10px 5px 10px;
						border-width: 2px;
					}



				}
			}
		}
	}
}