.news-subnav {
	padding-top: 4rem;

	@include tablet-landscape {
		padding-top: 6rem;
	}
	
	.subnav-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 1rem;
		border-bottom: 2px solid $blue;
	}

	.page-header {
		padding: 0 2rem 0 0;

		h2 {
			font-weight: 900;
		    font-family: $futura-condensed;
	    	font-style: italic;
	    	text-transform: uppercase;
	    	line-height: 1em;
			color: $blue;
			@include ms-respond(font-size, 4);

	    	a {
	    		color: $blue;

	    		&:hover {
	    			text-decoration: none;
	    		}
	    	}
		}		
	}

	.dropdown {
		display: inline-block;
		position: relative;
		font-family: $proxima-nova;
		font-size: 0.8125rem;
		font-weight: 600;
	  }
	  
	  .dd-button {
		display: inline-block;
		color: $blue;
		border: 1px solid $blue;
		border-radius: 4px;
		padding: 0.6125rem 4rem 0.5rem 1rem;
		background-color: $white;
		cursor: pointer;
		white-space: nowrap;
		transition: all 0.2s ease-in;
	  }
	  
	  .dd-button:after {
		content: '';
		position: absolute;
		top: calc(50% + 1px);
		right: 8px;
		transform: translateY(-50%);
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $blue;
		transition: all 0.2s ease-in;
	  }
	  
	  .dd-button:hover {
		background-color: $blue;
		color: $white;

		&:after {
			border-top-color: $white;
		}
	  }
	  
	  
	  .dd-input {
		display: none;
	  }
	  
	  .dd-menu {
		position: absolute;
		top: calc(100%);
		border-radius: 4px;
		padding: 0;
		margin: 2px 0 0 0;
		box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
		background-color: #ffffff;
		list-style-type: none;
		z-index: 50;
		overflow: hidden;
	  }
	  
	  .dd-input + .dd-menu {
		display: none;
	  } 
	  
	  .dd-input:checked + .dd-menu {
		display: block;
	  } 
	  
	  .dd-menu li {
		padding: 10px 20px;
		cursor: pointer;
		white-space: nowrap;
		transition: all 0.2s ease-in;
	  }
	  
	  .dd-menu li:hover {
		background-color: $blue;
	  }
	  
	  .dd-menu li a {
		display: block;
		margin: -10px -20px;
		padding: 12px 20px;
		transition: all 0.2s ease-in;
		font-size: 0.8125rem;

		&:hover {
			text-decoration: none;
			color: $white;
		}
	  }
	  
	  .full-archive {
		  padding-left: 2rem;
	  }
}

