section.archive-list {
    
    & + section.archive-list {
        padding-top: 3rem;

        @include tablet-portrait {
            padding-top: 6rem;
        }
    }

    .section-header {
        padding-bottom: 1rem;
    }

    .grid {
        display: grid;
        gap: 1.5rem;

        &.four-col-grid {
            grid-template-columns: repeat(2, 1fr);

            @include mobile-landscape {
                grid-template-columns: repeat(4, 1fr);
            }

            @include desktop {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }

    .link {
        a {
            display: inline-block;
            font-size: 1rem;
            font-weight: 600;
        }
    }
}