section.date-list {
    .grid {
        gap: 0;
    }

    .year {
        border: 1px solid $blue;
        border-bottom: none;
        border-right: none;

        & + .year {
            margin-top: 3rem;
        }

        &-header {
            padding: 1rem;
            background: $blue;
            border-bottom: 1px solid $blue;
            border-right: 1px solid $blue;

            h4 {
                font-weight: bold;
                font-style: italic;
                font-size: 1.125rem;

                a {
                    color: $white;
                    display: inline-block;
                }			
            }
        }

        .month-link {
            text-align: center;
            padding: 1rem 0;
            border-right: 1px solid $blue;
            border-bottom: 1px solid $blue;

            a {
                display: inline-block;
                font-weight: 600;
                font-size: 0.875rem;
                color: $bright-red;
            }
        }
    }
}