.footer-columns {

    @include tablet-portrait {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;

        .footer-logo {
            grid-column: 1 / -1;
        }
    }

    @include tablet-landscape {
        grid-template-columns: repeat(6, 1fr);

        .footer-logo {
            grid-column: 1 / 1;
        }
    }

    .col.links {

        .group {
            border-top: 1px solid $light-gray;

            @include tablet-portrait {
                border-top: none;

                & + .group {
                    padding-top: 25px;
                }
            }
        }

        &.col-1 {
            .group:first-of-type {
                border-top: none;
            }
        }
    }

    .col {

        &.footer-logo {
            padding-bottom: 25px;

            img {
                max-width: 130px;
                width: 100%;
            }
        }

        &.links {
            .header-link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.625rem 0;
                
                @include tablet-portrait {
                    padding: 0;
                }

                a {
                    font-family: $proxima-nova;
                    font-weight: 600;
                    font-size: 0.9375em;
                    text-transform: uppercase;
                    letter-spacing: 0.02em;
                }

                @include tablet-portrait {
                    &.mobile-only {
                        display: none;
                    }
                }
            }

            .mobile-header-link {
                display: flex;

                &:after {
                    content: '+';
                    display: block;
                    color: $blue;
                    flex: 1;
                    text-align: right;
                    cursor: pointer;
                    font-size: 1.25em;
                }

                @include tablet-portrait {
                    display: none;
                }
            }

            .desktop-header-link {
                display: none;

                @include tablet-portrait {
                    display: block;
                }
            }

            .sub-links {
                display: none;
                padding-bottom: 0.625rem;

                @include tablet-portrait {
                    display: block;
                    padding: 0.625rem 0;
                }

                .mobile-header {
                    @include tablet-portrait {
                        display: none;

                        & + .link {
                            padding-top: 0;
                        }
                    }
                }
            }

            .link {
                &:not(.mobile-header) + .link {
                    padding-top: 10px;
                }

                @include tablet-portrait {
                    max-width: 140px;
                }

                a {
                    font-family: $proxima-nova;
                    font-weight: 500;
                    font-size: 0.8125em;
                }
            }
        }

        .group.open {
            .mobile-header-link {
                padding-bottom: 0.375rem;
            }
            .sub-links {
                display: block;
            }
        }
    }	
}
