.footer-utilities {
    padding-top: 20px;
    font-family: $proxima-nova;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet-portrait {
        margin-top: 20px;
        border-top: 1px solid $light-gray;
        padding-top: 20px;
    }

    .copyright {
        p {
            font-size: 0.75em;
            color: $mid-gray;
        }
    }

    .utility-links {
        padding: 0.625rem 0 0 0;
        margin-right: auto;
        display: flex;
        align-items: center;
        width: 100%;
        order: 1;

        @include mobile-landscape {
            padding: 0 0 0 0.625rem;
            width: auto;
        }

        a {
            font-size: 0.675em;
            display: block;
            color: $charcoal;
            text-decoration: underline;

            & + a {
                margin-left: 0.625rem;
            }
        }
    }

    .social-links {
        order: -1;
        width: 100%;
        padding: 0 0 1.5rem 0;
        
        @include tablet-portrait {
            width: auto;
            padding: 0;
            order: 2;
        }
    }
}