.legacy-banner {
    background: $red;
    padding: 1rem 0;

    .link {
        text-align: center;

        a {
            display: inline-block;
            font-size: 0.875rem;
            font-style: italic;
            font-weight: 600;
            text-decoration: underline;
            color: $white;
        }

    }
}