.site-footer {
	box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
	background: $white;
	padding: 3rem 0;

	@import "template-parts/footer/footer-columns";
	
	@import "template-parts/footer/footer-utilities";
}

@import "template-parts/footer/legacy";

@import "template-parts/footer/back-to-top";
