section.article-body {
    font-family: $proxima-nova;
    padding: 0 1.5rem;

    @include tablet-landscape {
        padding: 3rem 3rem 3rem 1.5rem;
    }

    strong {
        font-weight: 800;
    }

    a {
        color: $bright-red;
        text-decoration: underline;
    }

    .wp-block-image {
        margin-bottom: 2.5rem;

        figcaption {
            margin: 10px 0 0 0;
            font-size: 0.875rem;
            font-weight: 600;
            color: $mid-gray;
            font-style: italic;
            text-align: right;
        }

        img {
            width: auto !important;
            height: auto !important;
        }
    }

    .wp-block-table {
        margin-bottom: 2.5rem;
    }

    table {
        border-top: 1px solid;
        border-left: 1px solid;

        th {
            text-align: left;
        }

        th, td {
            border: 1px solid;
            padding: 10px;
        }
    }
}