section.article-header {
    padding: 1.5rem;

    @include mobile-landscape {
        padding: 3rem 1.5rem;
    }

    @include tablet-landscape {
        padding: 3rem 5px 1.5rem 3rem;
    }

    h1 {
        font-style: italic;
        color: $blue;
        font-weight: 700;
        font-size: 2.25rem;

        @include tablet-portrait {
            font-size: 3rem;
        }

        &:after {
            content: '';
            display: block;
            width: 4rem;
            height: 0.25rem;
            background: $bright-red;
            margin: 1.875rem 0 0 0;
        }
    }
}