section.article-footer {
    padding: 0 1.5rem 3rem 1.5rem;

    @include tablet-landscape {
        padding: 0 3rem 3rem 3rem;
    }

    .footer-container {
        border-top: 2px solid $blue;
        padding-top: 3rem;
    }

    .related-posts {
        .section-header {
            padding-bottom: 0.625rem;

            @include tablet-portrait {
                padding-bottom: 1.25rem;
            }

            h4 {
                color: $blue;
                font-weight: 900;
                font-style: italic;
                font-family: $futura-condensed;
                text-transform: uppercase;
                font-size: 1.5rem;
                letter-spacing: 0.025em;

                @include tablet-portrait {
                    font-size: 2rem;
                }
            }
        }

        .grid {
            gap: 1.25rem;

            h4.sidebar-header {
                display: none;
            }
        }

        article.related {
            .photo a {
                @include mobile-landscape {
                    @include aspect-ratio(16, 9);
                }
            }
        }
    }
}