section.featured-image {
    @include aspect-ratio(16, 9);
    max-height: 50vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }

    .credit {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;

        em {
            display: inline-block;
            padding: 10px 20px;
            background: rgba(0, 0, 0, 0.25);
            font-weight: bold;
            font-style: italic;
            color: $white;
            font-size: 0.875rem;
        }
    }
}