article.post {
    max-width: 1200px;
    margin: 0 auto;
    background: $white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

    @include tablet-landscape {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        gap: 1.25rem;
        grid-template-areas: 
            "a a a" 
            "b d d"
            "c d d"
            "e e e";

        section.featured-image {
            grid-area: a;
        }

        section.article-header {
            grid-area: b;
        }

        section.article-body {
            grid-area: d;
        }

        section.article-footer {
            grid-area: e;
        }
    }
}