aside.meta {
    font-family: $proxima-nova;

    &.mobile {
        padding: 0 25px 50px 25px;
        display: block;
        margin-top: 3rem;

        @include tablet-landscape {
            display: none;
        }
    }

    &.desktop {
        display: none;

        @include tablet-landscape {
            display: block;
            padding-top: 50px;
        }
    }
        
    .date {
        border-top: 2px solid $blue;
        padding-top: 50px;
        font-weight: bold;
        font-size: 0.875em;
        text-transform: uppercase;
        letter-spacing: 0.02em;

        @include tablet-landscape {
            padding-top: 0;
            border-top: none;
        }
        
        .year {
            font-weight: normal;
        }
    }

    .authors {
        padding-top: 50px;


        .author {
            & + .author {
                padding-top: 10px;
            }

            a {
                display: flex;
                align-items: center;

                .photo {
                    max-width: 48px;

                    img {
                        border-radius: 50%;
                    }

                    + .name {
                        padding-left: 10px;
                    }
                }

                .name {
                    font-weight: 600;
                    font-size: 0.875rem;
                }
            }
        }
    }

    .categories {
        padding-top: 3rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 20rem;

        h4.sidebar-header {
            width: 100%;
        }

        .cat-link {
            margin: 0 10px 10px 0;
        }
    }

    .social-share {
        padding-top: 3rem;

        .links {
            display: flex;
            align-items: center;

            .link {

                & + .link {
                    padding-left: 15px;
                }

                &.twitter {
                    margin-top: 2px;
                }

                a {
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 24px;
                        max-height: 24px;
                    }
                }
            }
        }
    }

}