.site-content {
	p, li {
		font-family: $proxima-nova;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	ul, ol {
		margin-left: 2.5rem;
	}

	li {
		ul, ol {
			padding-bottom: 0;
		}

		ul {
			list-style-type: circle;
		}

		& + li {
			padding-top: 0.5rem;

		}
	}

	.copy {
		& > * + * {
			padding-top: 2rem;
		}
	}

	.p1 {
		@include ms-respond(font-size, 1);
		line-height: 1.75em;
	}

	.p2 {
		@include ms-respond(font-size, 0);
		line-height: 1.5em;
	}

	.p3 {
		@include ms-respond(font-size, -1);
		line-height: 1.5em;
	}

	.p4 {
		@include ms-respond(font-size, -2);
		line-height: 1.375em;
	}

}


.copy {
	a {
		font-weight: bold;
		text-decoration: underline;
		color: $blue;
	}
}


.wp-block-group {
	h1, h2, h3, h4, h5, h6 {
		font-family: $proxima-nova;
	}

	h2 {
		font-size: 2rem;
		font-weight: bold;
		padding-bottom: 10px;
	}

	h3 {
		font-size: 1.75rem;
		font-weight: bold;
		padding-bottom: 10px;
	}

	h4 {
		font-size: 1.5rem;
		font-weight: bold;
		padding-bottom: 10px;
	}

	p, li {
		font-size: 1em;
		line-height: unset;
	}

	ul:not([class]), ol:not([class]) {
		padding-left: 20px;
		max-width: 640px;

		@include tablet-portrait {
			padding-left: 40px;
		}

		li + li {
			padding-top: 10px;
		}

	}

	ul:not([class]) {
		list-style-type: disc;
	}

	ol:not([class]) {
		list-style-type: decimal;
	}

	.blocks-gallery-grid {
		.blocks-gallery-item__caption {
			display: none;
		}
	}

	@media screen and (max-width: 568px) {
		.wp-block-media-text {
			display: flex;
			flex-wrap: wrap;

			&__media {
				order: 1;
			}

			&__content {
				order: 2;
				padding: 10px 0 0 0;
			}
		}
	}


	.wp-block-embed {
		margin-bottom: 25px;

		@include tablet-landscape {
			margin-bottom: 50px;
		}
	}

}