

h4.sidebar-header{
	@include ms-respond(font-size, -2);
	font-weight: 800;
	color: $slate;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding-bottom: 1rem;

	&:before {
		content: '';
		display: block;
		width: 1rem;
		height: 0.125rem;
		background: $slate;
		margin-bottom: 1.25rem;
	}
}

.headline {

	&.blue {
		color: $blue;

		&.underline {
			&:after {
				background: $blue;
			}
		}
	}

	&.red {
		color: $bright-red;

		&.underline {
			&:after {
				background: $bright-red;
			}
		}
	}

	&.white {
		color: $white;

		&.underline {
			&:after {
				background: $white;
			}
		}
	}

	&.align-center {
		text-align: center;
	}

	&.uppercase {
		text-transform: uppercase;
	}

	&.underline {
		&:after {
			content: '';
			display: block;
			width: 2.5rem;
			height: 0.25rem;
			margin: 0.5rem 0 1rem 0;
		}

		&.align-center {

			&:after {
				margin: 0.5rem auto 1rem auto;
			}
		}
	}

	h1.cover-title {
		@include ms-respond(font-size, 8);
		color: $white;
		text-transform: uppercase;
		font-family: $futura-condensed;
		font-style: italic;
		font-weight: 800;
		line-height: 1em;
		text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

		@include tablet-portrait {
			@include ms-respond(font-size, 10);
		}
	}


	h1 {
		@include ms-respond(font-size, 7);
		font-family: $futura-condensed;
		letter-spacing: -0.025em;
		line-height: 1em;
		font-weight: 800;
	}


	h2 {
		font-family: $futura-condensed;
		font-weight: 800;
		font-style: italic;
		letter-spacing: -0.015em;
		@include ms-respond(font-size, 6);
	}

	h3 {
		font-family: $futura-condensed;
		font-weight: 800;
		font-style: italic;
		letter-spacing: -0.015em;
		@include ms-respond(font-size, 4);
	}

	h4 {
		font-family: $futura;
		font-weight: 700;
		font-style: italic;
		letter-spacing: -0.015em;
		@include ms-respond(font-size, 2);
		line-height: 1.125em;
	}

	h5 {
		font-family: $futura;
		font-weight: 700;
		letter-spacing: -0.015em;
		@include ms-respond(font-size, 0);
		line-height: 1.125em;
	}

	h6 {
		font-family: $futura;
		font-weight: 700;
		letter-spacing: 0.05em;
		@include ms-respond(font-size, -2);
		line-height: 1.125em;
	}

}