html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $futura;
}

a {
	color: $blue;
	transition: all 0.3s ease-in-out;

	&:hover {
		text-decoration: underline;
	}
}

$modularscale: (
	base: 0.875rem,
	ratio: 1.2,
	768px: (
		base: 1rem,
		ratio: 1.2
	),
	1440px: (
		base: 1.125rem,
		ratio: 1.2
	),
);


@import "wordpress-defaults";

@import "headings";

@import "copy";