.wp-block-group {
	h3 {
		font-size: unset;
	}

	p {
		font-size: 1em;
	}

	h4 {
		font-weight: 700;
		font-family: $proxima-nova;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.05em;
		color: $bright-red
	}

	ul, ol {
		li {
			font-size: 1rem;
			color: $blue;

			@include tablet-portrait {
				font-size: 1.125rem;
			}
		}
	}

	h1, h2, h3, h4, h5 {
		& + .wp-block-columns {
			padding-top: 25px;
		}
	}

	.wp-block-columns {
		margin-bottom: 0;

		@media (max-width:599px) {
			.wp-block-column + .wp-block-column {
				padding-top: 50px;
			}
		}


		& + * {
			padding-top: 25px;
		}

		.wp-block-image {
			& + * {
				padding-top: 25px;
			}
		}
	}
}

.wp-block-group.has-background.full-width {
	margin: 50px 0;
	padding: 50px 0;

	@include tablet-portrait {
		padding: 100px 0;
		margin: 100px 0;
	}
}

.page-header + .wp-block-group.has-background.full-width {
	margin-top: 75px;
}


.site-content {
	.wp-block-pullquote {
		padding: 2rem 0;

		blockquote {
			max-width: 1200px;
			margin:  0 auto;
			padding: 0 2rem;
		}

		p {
			font-size: 1.25rem;

			@include tablet-landscape {
				font-size: 1.75rem;
			}
		}

		& + section,
		& + nav {
			padding-top: 2rem;
		}
	}
}