.guidelines-section {
    width: 100%;
    max-width: 55rem;

    & + .guidelines-section {
        padding-top: 3rem;
    }

    & > * + * {
        margin-top: 1rem;
    }

    & > * + h3 {
        margin-top: 3rem;
    }

    & > h4 {
        margin-top: 2rem;
    }

    a {
        text-decoration: underline;
    }

    strong {
        font-weight: 900;

        em {
            font-weight: 900;
        }
    }

    ol,
    ul {
        margin-left: 1rem;

        @include tablet-portrait {
            margin-left: 3rem;
        }

        @include desktop {
            max-width: 50rem;
        }
    }

    & > ol,
    & > ul {
        margin-left: 1.5rem;
    }

    li > ol,
    li > ul {
        padding-top: 0.5rem;
    }

    &#overview {
        @include tablet-landscape {
            width: unset;
            padding-top: 0.5rem;
            flex: 1;
        }
    }
}

table {
    width: 100%;
    table-layout: fixed;
    font-size: 0.875rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    th,
    td {
        padding: 1rem;
        line-height: 1.25em;
    }

    th {
        background: $blue;
        color: $white;
        vertical-align: bottom;

        & + th {
            border-left: 1px solid rgba($white, 0.1);
        }
    }

    td {
        & + td {
            border-left: 1px solid #eee;
        }
    }

    tbody {
        border: 1px solid #eee;

        tr {
            &:nth-child(even) {
                td {
                    background: $off-white;
                }
            }

            & > td:first-of-type {
                font-weight: 900;
            }
        }
    }

    &.regionals-scaling {
        th {
            text-align: center;
            border-left: 1px solid rgba(255, 255, 255, 0.1);
        }

        tr + tr {
            th {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
            }

            td {
                border-top: 1px solid rgba($blue, 0.1);
            }
        }

        th,
        td {
            vertical-align: middle;
        }

        td {
            font-size: 0.8125rem;
            font-weight: 500;
        }

        td:empty {
            background: $red;
        }
    }
}
