.table-of-contents {
    border: 2px solid $blue;
    background: $off-white;
    padding: 1rem 2rem;
    max-width: 22rem;
    font-size: 0.9375rem;
    margin-left: 0;
    margin-bottom: 3rem;
    align-self: start;

    @include tablet-landscape {
        margin-right: 2rem;
        z-index: 1;
    }

    ul {
        margin-left: 1.5rem;
        list-style-type: disc;
    }

    li {
        font-weight: normal;

        & > ul {
            padding-top: 0.25rem;
        }
    }
}

.youth-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 2rem;
    padding-bottom: 2rem;

    &__header {
        width: 100%;
    }

    a {
        font-size: 0.875rem;
        font-weight: 600;
        display: block;

        &.active {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 6px;
            color: $bright-red;
        }
    }
}
