h3 {
    font-weight: bold;
    color: $bright-red;
    font-size: 1.5rem;
}

h4,
.h4-header::marker {
    font-weight: bold;
    color: $blue;
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

h5,
.h5-header::marker {
    font-weight: bold;
    color: $light-blue;
    font-size: 1rem;
    margin-top: 1rem;
}

.h4-header,
.h5-header {
    & > * + * {
        margin-top: 1rem;
    }
}

p + p {
    margin-top: 1rem;
}

ul,
ol {
    & + p {
        margin-top: 1rem;
    }
}

h4,
h5 {
    & + ol,
    & + ul {
        margin-top: 0 !important;
        padding-top: 0.5rem !important;
    }
}

ul,
ol {
    li::marker {
        font-weight: bold;
    }
}

.upper-alpha {
    list-style-type: upper-alpha;
}

.lower-alpha {
    list-style-type: lower-alpha;
}

.numeric {
    list-style-type: decimal;
}

.lower-numeral {
    list-style-type: lower-roman;
}

.disc {
    list-style-type: disc;
}
