body {
	background: #f5f5f5;
	min-height: 100vh;
	transition: all 0.2s ease-in-out;
	right: 0;
}

/* Selection  */
::-moz-selection { background: $bright-red; color: $white; text-shadow: none; }
::selection { background: $bright-red; color: $white; text-shadow: none; }

.wp-block-group__inner-container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px; 
	padding: 0 25px;
	transition: padding 0.2s ease-in;

	@media screen and (min-width: 1250px) {
		padding: 0;
	}
}

main.site-content {
	min-height: 80vh;
}

.alm-listing .alm-reveal:after,
.alm-reveal.alm-filters:after {
	display: none !important;
}

.usau-section.usau-block {
	gap: 2rem;
}

@import "usau-block-grid";

@import "people-grid";