.people-grid {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(2, 1fr);

	@include tablet-portrait {
		grid-template-columns: repeat(3, 1fr);
	}

	@include tablet-landscape {
		grid-template-columns: repeat(4, 1fr);
	}

	.person {
		.info {
			color: $blue;
			padding-top: 0.75rem;
			text-align: center;

			.name {
				h4 {
					font-weight: bold;
					font-size: 1.25rem;
				}
			}
		}
	}
}