.alm-listing {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @include mobile-landscape {
        grid-template-columns: repeat(2, 1fr);
    }

    @include tablet-portrait {
        grid-template-columns: repeat(3, 1fr);
    }

    & + .alm-reveal {
        margin-top: 2rem;
    }
}
