section.page-header {
    padding: 3rem 0 0 0;

    @include tablet-landscape {
        padding: 6rem 0 0 0;
    }

    .copy {
        text-align: center;

        @include mobile-landscape {
            grid-column: 3 / span 6;
        }


        @include tablet-landscape {
            grid-column: 4 / span 8;
        }
    }
}

section.resource-archive {
    padding-top: 3rem;
}