section.page-not-found {
	padding: 4rem 0 0 0;

	@include tablet-landscape {
		padding: 6rem 0;
	}
	
	.error-wrapper {
		background: $white;
		padding: 1.5rem;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		border-radius: 3px;	

		@include tablet-landscape {
			grid-column: 4 / span 8;
		}

		form {
			padding-top: 3rem;
			display: flex;
			align-items: center;
			max-width: 600px;

			label {
				display: block;
				width: 100%;
				padding-right: 10px;

				input {
					width: 100%;
					height: 34px;
					line-height: 34px;
					padding: 0 10px;
					font-size: 1rem;
					border: 2px solid $blue;
					color: $blue;
					font-weight: bold;
					transition: all 0.2s ease-in;
					background: transparent;

					@include placeholder {
						color: $blue;
						opacity: 0.5;
						font-style: italic;
					}

					&:focus,
					&:active {
						outline: 0;
					}

					@include tablet-portrait {
						padding: 0 15px;
						height: 47px;
						line-height: 47px;
						font-size: 1.375rem;
					}
				}
			}

			.search-submit {
				text-transform: uppercase;
				font-family: $proxima-nova;
				letter-spacing: 0.05em;
				border: 2px solid $bright-red;
				padding: 10px 10px 8px 10px;
				font-size: 0.75em;
				display: inline-block;
				color: $bright-red;
				background: transparent;
				transition: all 0.2s ease-in;
				font-weight: 500;

				&:hover {
					background: $bright-red;
					color: $white;
				}

				&:focus,
				&:active {
					outline: 0;
				}

				@include tablet-portrait {
					font-size: 1em;
					padding: 15px 15px 12px 15px;
				}
			}
		}

	}
}

body.error404 {
	.back-to-top {
		display: none;
	}
}