body.post-type-archive-local {

	section.page-header {
		text-align: center;
		padding: 3rem 0;

		@include tablet-landscape {
			padding: 6rem 0 3rem 0;
		}
	}

	section.map {
		padding: 0 0 3rem 0;
	}

}