body.category {
	.archived-posts {
		.headline {
			padding: 3rem 0 0 0;

			@include tablet-portrait {
				padding: 6rem 0 1rem 0;
			}
		}

		.categories {
			a {
				@media screen and (max-width: 767px) {
					&:nth-child(n+5) {
						display: none;
					}
				}				
			}
		}
	}
}