.guidelines {
    line-height: 1.5em;
    display: flex;
    flex-wrap: wrap;

    @include tablet-landscape {
        grid-column: 2 / span 12 !important;
    }

    @import 'template-parts/guidelines/typography';

    @import 'template-parts/guidelines/elements';

    @import 'template-parts/guidelines/table-of-contents';
}

.hub-navigation + section.html {
    #overview {
        @include tablet-landscape {
            padding-top: 3rem;
        }
    }
}

.hub-navigation.youth + section.html {
    #overview {
        @include tablet-landscape {
            padding-top: 9rem;
        }
    }
}
