body.blog {
	.featured-posts {
		padding: 1rem 0 2rem 0;
		gap: 2rem;

		@include tablet-landscape {
			max-width: 1264px;
			margin: 0 auto;
			grid-template-columns: 0 repeat(12, 1fr) 0;
		}
	}

	.article-2 {
		@include mobile-landscape {
			grid-column: 2 / span 4;
		}

		@include tablet-landscape {
			grid-column: 2 / span 6;
		}
	}

	.article-3 {
		@include mobile-landscape {
			grid-column: 6 / span 4;
		}

		@include tablet-landscape {
			grid-column: 8 / span 6;
		}
	}

	.article-4 {
		@include mobile-landscape {
			grid-column: 2 / span 4;
		}
	}

	.article-5 {
		@include mobile-landscape {
			grid-column: 6 / span 4;
		}
	}

	.article-6 {
		@include mobile-landscape {
			grid-column: 2 / span 8;

			.photo a {
				@include aspect-ratio(16, 9);

			}
		}

		@include tablet-landscape {
			grid-column: 10 / span 4;
		}
	}	
}