body.page-template-news-archive {

	section.archived-posts {
		padding-bottom: 3rem;
	}

	@import 'template-parts/news/news-archive/archive-list';

	@import 'template-parts/news/news-archive/date-list';

}