body.single-resources {
    .site-content {
        padding: 6rem 0;

        .back {
            padding-top: 3rem;
        }
    }

    .resource-item {
        & > * {
            @include tablet-portrait {
                grid-column: 4 / span 4;
            }

            @include tablet-landscape {
                grid-column: 6 / span 4;
            }
        }
    }

    .back-to-top {
        display: none;
    }
}