body.post-type-archive-videos,
body.tax-video_filters {
    section.page-header {
        @include section-padding(50px, 75px);
        text-align: center;

        h1 {
            font-weight: 900;
            font-family: $futura-condensed;
            font-style: italic;
            text-transform: uppercase;
            font-size: 3rem;
            color: $slate;

            &:after {
                content: "";
                display: block;
                width: 40px;
                height: 5px;
                background: $bright-red;
                margin: 20px auto 0 auto;
            }

            @include tablet-portrait {
                font-size: 4rem;
            }
        }
    }

    section.video-archive {
        padding: 0 0 6rem 0;
    }

    .alm-listing {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem 1.25rem;

        @include mobile-landscape {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet-portrait {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        & + .alm-listing {
            padding-top: 3rem;
        }

        .video {
            a {
                display: block;

                &:hover {
                    text-decoration: none;
                }

                span.title {
                    display: block;
                    padding-top: 0.6875rem;
                    line-height: 1.25em;
                    color: $blue;
                    font-weight: bold;
                    transition: color 0.2s ease-in;
                }
            }
        }
    }
}
