body.page-team-usa {
	&.page-child {

		section.hero-photo {
			.headline {
				h1 {
					background: $bright-red;
					display: inline-block;
					padding: 1rem;
				}
			}
		}

		section.google-sheet-roster {
			background: $off-white;
		}
	}
}