nav.admin-button {

    .hub-navigation-wrapper {
        @include tablet-landscape {
            position: absolute;
            width: 100%;
            z-index: 10;
        }

        .admin-link {
            padding: 1.5rem 0;

            @include tablet-landscape {
                position: absolute;
                bottom: -24px;
                padding: 1.5rem 0 0 0;
            }

            a {


                @include tablet-landscape {
                    background: #f5f5f5;
                    color: $bright-red;
                }

                &:hover {


                    @include tablet-landscape {
                        text-decoration: none;
                        background: $bright-red;
                        color: #f5f5f5;
                    }                    
                }
            }
        }
    }
}