.wp-admin {
	div[data-type="acf/anchor"] {
		margin: 0;

		.anchor-block {
			border: 2px dashed $citrine;
			padding: 1rem;
			text-align: center;

			p {
				font-weight: bold;
			}
		}
	}
}

section + .anchor-point + section  {

	padding-top: 4rem;

	@include tablet-portrait {
		padding-top: 6rem;
	}

}