nav.anchor-links {
	padding-top: 50px;

	.nav-flexbox {
		background: $white;
		padding: 15px;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@include tablet-portrait {
			justify-content: center;
		}
	}

	.nav-label {
		padding-bottom: 10px;

		@include tablet-portrait {
			padding-right: 25px;
			padding-bottom: 0;
		}

		h4 {
			color: $bright-red;
			font-weight: bold;
			font-size: 1.125rem;
			font-style: italic;
		}
	}

	.links {
		width: 100%;

		@include tablet-portrait {
			width: auto;
			display: flex;
			align-items: center;
		}

		.link {
			display: flex;
			align-items: center;

			& + .link {
				padding-top: 15px;

				@include tablet-portrait {
					margin-left: 15px;
					padding-top: 0;

					&:before {
						content: '·';
						display: block;
						padding-right: 15px;
					}
				}
			}

			a {
				display: block;
				font-size: 0.875rem;
				font-weight: 600;
			}
		}
	}
}


body.page-equity-diversity-inclusion {

	nav.anchor-links {
		margin-bottom: 50px;

		.nav-flexbox {
			display: block;
			padding: 25px;
		}

		.links {
			display: block;
			counter-reset: list-counter;

			.link {
				display: block;
				margin-top: 25px;
				padding-left: 36px !important;

				&:before {
					position: absolute;
					top: -6px;
					left: 0;
					counter-increment: list-counter;
					content: counter(list-counter) !important;
					width: 24px;
					height: 24px;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 2px solid;
					border-radius: 50%;
					font-weight: bold;
					font-size: 0.875rem;
					color: $bright-red;
				}

				& + .link {
					margin-left: 0;
					padding-top: 0;

					&:before {
						content: '';
						padding-right: 0;
					}
				}

				a {
					font-size: 1rem;
				}
			}

		}
		
	}

}