section.awards {
	padding-top: 0;

	.section-header {
		padding-bottom: 5px;

		& + .award-group {
			padding-top: 25px;
		}
	}

	.poty {
		padding-top: 25px;

		& + .award-group {
			padding-top: 50px;
		}	

		.award {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;			
			background: $white;
			padding: 20px;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			max-width: 720px;
			margin: 0 auto;
		}

		.photo {
			width: 100%;

			@include mobile-landscape {
				width: calc(50% - 10px);
			}

			img {
				margin: 0 auto;
				border-radius: 3px;
				width: 100%;
			}
		}

		.info {
			width: 100%;
			padding-top: 20px;

			@include mobile-landscape {
				width: calc(50% - 10px);
				padding-top: 0;
			}

			.award-name {
				padding-bottom: 1rem;
				font-style: italic;
			}

			.name {
				h4 {
					font-style: normal;
				}

			}

			.school {

			}

			.finalists {
				padding-top: 2rem;

				h4 {
					font-style: italic;
					font-weight: bold;
					color: $blue;
					padding-bottom: 10px;
					font-size: 1rem;

					&:after {
						content: '';
						display: block;
						width: 20px;
						height: 2px;
						background: $blue;
						margin-top: 5px;
					}
				}

				.person {
					padding: 0;

					& + .person {
						padding-top: 15px;
					}
				}
			}
		}
	}

	.award-group {
		text-align: center;

		h3 {
			text-transform: uppercase;
			font-size: 0.8125rem;
			letter-spacing: 0.075em;
			color: $blue;
			font-weight: bold;
		}
	}

	.awards-legend {
		padding-top: 10px;
		padding-bottom: 25px;
		display: flex;
		align-items: center;
		justify-content: center;

		.rpoty {
			display: flex;
			align-items: center;

			span {
				display: block;
			}

			.color-block {
				width: 20px;
				height: 20px;
				background: $gold;
				border-radius: 3px;
			}

			.label {
				font-size: 0.875rem;
				padding-left: 10px;
				font-style: italic;
			}

		}
	}

	.division {
		padding: 50px 0;
	}



	.regions {
		display: grid;
		gap: 25px;
		grid-template-columns: repeat(1, 1fr);

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet-portrait {
			grid-template-columns: repeat(3, 1fr);
		}

		@include tablet-landscape {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.region {
		background: $white;
		padding: 20px;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		border-radius: 3px;

		&-name {
			padding: 10px 15px;

			h4 {
				color: $blue;
				font-weight: bold;
				font-style: italic;
				font-size: 1.125rem;

				&:after {
					content: '';
					display: block;
					width: 20px;
					height: 2px;
					background: $blue;
					margin-top: 5px;
				}
			}
		}
	}

	.person {
		padding: 17px 15px 15px 15px;

		h5 {
			font-size: 0.875rem;
			font-weight: bold;
			color: $bright-red;
			padding-bottom: 2px;
		}

		p {
			padding-top: 0.125rem;
			font-size: 0.8125rem;
		}


		&.poty {
			background: $gold;
			border-radius: 3px;

			h5,p {
				color: $white;
			}
		}
	}

	.foty,
	.coty {
		border-top: 1px solid $blue;
		padding-top: 25px;
		width: calc(100% - 30px);
		margin: 8px auto 0 auto;

		h4 {
			padding: 0 0 10px 0;
			font-size: 1rem;
			color: $blue;
			font-style: italic;
			font-weight: bold;

			& + .person {
				padding-top: 0;
			}
		}

		.person {
			padding-left: 0;
			padding-right: 0;

			& + .person {
				padding-top: 0px;
			}

		}
	}

	.additional-copy {
		margin-top: 20px;
		padding: 17px 15px 15px 15px;
		background: rgba(255, 255, 255, 0.75);
		text-align: center;
		
		p {
			font-style: italic;
			color: $blue;
		}

		a {
			text-decoration: underline;
			font-weight: bold;
			color: $blue;
		}
	}
}