section.contacts {
	padding-top: 6rem;
}

.contacts-list {
	@include scroll-x;

	& + .contacts-list {
		padding-top: 100px;
	}
	
	.contacts-header {
		padding-bottom: 1rem;
	}

	table {
		background: $white;
		border-radius: 3px;
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
		font-family: $proxima-nova;
		width: 100%;

		thead {
			text-align: left;

			th {
				padding: 15px 20px;
				background: $blue;
				color: $white;
				font-size: 0.75rem;
				text-transform: uppercase;
				letter-spacing: 0.1em;

				&.state {
					max-width: 60px;
				}
			}
		}

		tbody {
			td {
				padding: 15px 20px;
				vertical-align: center;
				font-size: 0.8125rem;
				line-height: 1.125em;

				&.name {
					min-width: 180px;
					font-weight: bold;
					font-size: 0.875rem;
				}

				&.state {
					max-width: 60px;
				}
			}

			tr + tr {
				td {
					border-top: 1px solid #f5f5f5;
				}
			}

			.vacant td {
				font-weight: normal;
				font-style: italic;
				background: $off-white;
				opacity: 0.5;

				&.name {
					font-weight: normal;
				}
			}
		}
	}
}