section.countdown {
	padding-top: 50px !important;

	& + section {
		padding-top: 100px;
	}

	& + section.upcoming-events {
		padding-top: 50px;
	}

	.countdown-container {
		background: $citrine;
		color: $slate;
		padding: 40px;
		border-radius: 3px;
	}

	.section-header {
		text-align: center;
		padding-bottom: 0;

		.headline {
			h3 {
				color: $slate;
			}
		}

		.deck {
			padding-top: 5px;
			max-width: 640px;
			margin: 0 auto;
		}

		& + .countdown-clock {
			padding-top: 20px;
		}
	}

	.countdown-clock {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		font-family: $proxima-nova;
		text-align: center;
		max-width: 400px;
		margin: 0 auto;
	}

	.counter {
		display: block;
		font-size: 2rem;
		font-weight: bold;

		@include tablet-portrait {
			font-size: 3rem;
		}
	}

	.interval-label {
		text-transform: uppercase;
		font-size: 0.8125rem;
		letter-spacing: 0.05em;
		padding-top: 5px;
		font-weight: bold;
	}

	.ctas {
		padding-top: 3rem;
		display: flex;
		justify-content: center;

		.cta {
			& + .cta {
				margin-left: 1rem;

			}
		}
	}
}