section.cover {
	
	&.aligncenter {
		max-width: 1200px;
		margin: 0 auto;
	}

	.photo {
		@include aspect-ratio(4, 4);

		@include mobile-landscape {
			@include aspect-ratio(16, 9);
		}

		@include tablet-portrait {
			@include aspect-ratio(16, 7);
			max-height: 800px;

			&.half {
				max-height: 400px;

				.info-wrapper {
					max-width: 890px;
				}
			}
		}

		@include cover-img;

		&.color-overlay {
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
	
			&.red:after {
				background: rgba(179, 8, 57, 0.75);
			}

			&.blue:after {
				background: rgba(0, 43, 92, 0.75);
			}

			&.white:after {
				background: rgba(255, 255, 255, 0.75);
			}

			img {
				filter: saturate(20%);
			}
		}
	}

	.info {
		@include cover-info;
		color: $white;
		text-align: center;

		&-wrapper {
			max-width: 690px;
			margin: 0 auto;
			padding: 0 1.5rem;
			display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-wrap: wrap;		
		}

		.headline {
			width: 100%;
		}

		h1.cover-title {
			@include ms-respond(font-size, 8);
			letter-spacing: -0.005em;
		}

		.copy {
			padding-top: 1rem;

			& > * {
				font-weight: bold;
			}

			br {
				display: none;

				@include tablet-portrait {
					display: block;
				}
			}
		}

		.cta {
			width: 100%;
			text-align: center;
			padding-top: 3rem;
		}

		.cta.multiple {
			display: flex;
			align-items: center;
			justify-content: center;

			.btn {
				margin: 0 1rem;
			}
		}
	}

	.white {
		.info {
			h1.cover-title {
				color: $blue;
			}
		}

		.copy {
			* {
				color: $blue;
			}
		}

		.cta {
			a {
				color: $bright-red;
				border-color: $bright-red;
				font-weight: bold;
				border-width: 3px;

				&:hover {
					color: $white;
					background: $bright-red;
					border-color: $bright-red;
				}
			}

		}
	}
}