section.cover-side-by-side {
	display: grid;
	gap: 0;
	grid-template-columns: repeat(1, 1fr);

	@include tablet-portrait {
		grid-template-columns: repeat(2, 1fr);
	}





	.side {
		@include aspect-ratio(3, 4);
		max-height: 400px;

		@include mobile-landscape {
			max-height: 800px;
			@include aspect-ratio(1, 1);
		}

		@include cover-img;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&.blue:after {
			background: rgba(0, 43, 92, 0.5);
		}

		&.red:after {
			background: rgba(179, 8, 57, 0.4);
		}

		img {
			filter: grayscale(90%);
		}
	}

	.info {
		@include cover-info;
		text-align: center;
		color: $white;

		&-wrapper {
			max-width: 690px;
			margin: 0 auto;
			padding: 0 25px;
		}

		.headline {

			h2 {
				font-style: italic;
				text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
			}
		}

		.copy {
			padding-top: 1.5rem;

			p {
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
			}
		}

		.cta {
			text-align: center;
			padding-top: 2rem;

			.btn {
				font-weight: 500;
			}
		}
	}

	.red {
		.info {
			.cta {
				.white {
					&:hover {
						color: $bright-red;
					}
				}
			}
		}
	}

}