section.cta-block {
	margin-bottom: 1.5rem;

	@include tablet-landscape {
		margin-bottom: 3rem;
	}
	.cta {
		display: flex;
		width: 100%;		
	}

	&.alignleft {		
		.cta {
			justify-content: flex-start;
		}		
	}

	&.aligncenter {
		.cta {
			justify-content: center;
		}		
	}	

	&.alignright {
		.cta {
			justify-content: flex-end;
		}
	}
}