section.edi {
	
	section.commitment {

		& + section.commitment {
			margin-top: 100px;

			@include tablet-portrait {
				margin-top: 150px;
			}
		}

		span.count {
			width: 3rem;
			height: 3rem;
			line-height: 0.875em;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $white;
			background: $bright-red;
			border: 2px solid $bright-red;
			border-radius: 50%;
			padding-right: 2px;
			font-weight: bold;
			font-size: 2rem;
			font-style: italic;
			margin-bottom: 10px;
		}
	}

	.commitment-header {

		.info {
			@include cover-info;
			padding: 1.5rem;
			align-items: flex-end;
			background: rgba(0,43,92, 0.6);
			
			@include tablet-portrait {
				padding: 3rem;
			}

			.headline {
				width: 100%;

				h2 {
					@include ms-respond(font-size, 2);

					@include tablet-portrait {
						@include ms-respond(font-size, 4);
					}

					@include desktop {
						@include ms-respond(font-size, 6);
					}
				}
			}
		}

		.photo {
			@include aspect-ratio(4, 3);
			@include cover-img;

			@include tablet-portrait {
				@include aspect-ratio(2, 1);
			}

			img {
				filter: grayscale(40%);
			}

		}
	}

	.basic-info {
		padding-top: 3rem;

		@include tablet-portrait {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		.why,
		.how {
			.headline {
				padding-bottom: 0.5rem;
			}
		}

		.why {
			@include tablet-portrait {
				width: calc(50% - 25px);
			}

			@include desktop {
				width: calc(55% - 25px);

				p {
					font-size: 1.5rem;
					line-height: 1.375em;
				}
			}
		}

		.how {
			padding-top: 50px;

			@include tablet-portrait {
				padding-top: 0;
				width: calc(50% - 25px);
			}

			@include desktop {
				width: calc(40% - 25px);
			}

			ul {
				margin-left: 1rem
			}

		}
	}

	.initiatives {
		padding: 3rem 0;

		@include tablet-portrait {
			padding: 6rem 0 4rem 0;
		}

		.sub-header {
			padding-bottom: 1.25rem;
		}

		.grid {
			display: grid;
			gap: 3rem 1.5rem;;
			grid-template-columns: repeat(1, 1fr);

			@include mobile-landscape {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet-landscape {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		.photo {
			@include aspect-ratio(4, 3);
			@include cover-img;
			box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

			img {
				object-position: center center;
			}
		}

		.info {
			padding-top: 20px;

			.text-toggle {
				color: $bright-red;
				display: inline-block;
				text-decoration: underline;
				font-size: 1rem;
				font-weight: bold;

				&:after {
					content: "+";
					display: inline-block;
					margin-left: 5px;
					transition: all 0.15s ease;
				}

				&.show {
					&:after {
						transform: rotate(45deg);
					}
				}
			}

			.copy {
				padding-top: 1rem;
			}

			.text {
				max-height: 0;
				overflow: hidden;
				transition: all 0.3s ease;

				&.show {
					max-height: 400px;
					padding-top: 1rem;
				}

				p {
					color: $blue;
				}
			}
		}

	}

	.get-involved {
		background: $bright-red;
		color: $white;
		padding: 50px 25px;

		a {
			color: $white;
			text-decoration: underline;
		}

		@include tablet-portrait {
			padding: 50px 50px;
		}

		.headline {
			padding-bottom: 25px;
		}

		ol {
			list-style-type: none;
			padding: 0;
			margin: 0;
			counter-reset: list-counter;

			li {
				padding-left: 56px;

				& + li {
					margin-top: 40px;
				}
				
				&:before {
					position: absolute;
					top: -2px;
					left: 0;
					counter-increment: list-counter;
					content: counter(list-counter);
					width: 36px;
					height: 36px;
					line-height: 36px;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 2px solid;
					border-radius: 50%;
					font-weight: bold;
					font-size: 1rem;
				}
			}
		}
	}
}