section.faqs {

	.section-header,
	.faqs-content {
		@include tablet-landscape {
			grid-column: 2 / span 8;
		}

	}

	.faq {
		box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);

		& + .faq {
			margin-top: 2rem;
		}

		&.active {
			.question {
				background: $bright-red;
			}

			.answer {
				max-height: unset;
				overflow: unset;
				padding: 2rem;
			}
		}
	}

	.question {
		background: $blue;
		color: $white;
		padding: 1rem;
		transition: background 0.3s ease-in;


		&:hover {
			cursor: pointer;
		}

		h4 {
			font-weight: bold;
			font-style: italic;
			line-height: 1.25em;
		}
	}

	.answer {
		background: $white;
		overflow: hidden;
		max-height: 0;
		transition: max-height, overflow 0.2s ease-out;

		h5 {
			font-weight: bold;
			font-size: 1.25rem;
		}

		p + h5,
		p + ul {
			padding-top: 2rem;
		}

		p {
			font-family: $proxima-nova;
			font-size: 1rem;
			line-height: 1.5em;

			& + p {
				padding-top: 2rem;
			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		ul, ol {
			padding-left: 2rem;
			max-width: 600px;
			font-size: 0.875em;

			& + * {
				padding-top: 2rem;
			}

			li {
				& + li {
					padding-top: 1rem;
				}
			}
		}

		a {
			font-weight: bold;
			text-decoration: underline;
		}
	}
}

section.local-map + section.faqs {
	padding-top: 3rem;
}