section.featured-videos {
	padding: 3rem 0;

	&.white {
		background: $white;
	}

	@include tablet-landscape {
		padding: 6rem 0;
	}

	.cta {
		padding-top: 3rem;
	}	
}

section.team-usa-archive + section.featured-videos {
	padding-top: 0;
}