.usau-block.usau-header {
    padding-bottom: 2rem;

    .align-center {
        @include tablet-landscape {
            grid-column: 4 / span 8;
        }
    }

    & + section.three-columns,
    & + section.two-col-features {
        padding-top: 0;
    }
}