.hero-video {

	.video {
		@include aspect-ratio(16, 9);

		.content {
			&:before {
				display: block;
				content: '';
				background: rgba(0, 0, 0, 0.5);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
			}
		}

		iframe {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}

	.info {
		@include cover-info;
		z-index: 20;

		.headline {
			text-align: center;

		}

		.cta {
			text-align: center;
			padding-top: 25px;
		}
	}
}

body.home {
	.hero-video {
		.info {
			.headline {
				h1 {
					@include desktop {
						font-size: 10rem;
					}
				}
			}
		}
	}
}