.hero-photo {
	&.gradient {
		background: linear-gradient(90deg, #1CB5E0 0%, $blue 100%);
	}

	.photo {
		@include aspect-ratio(4, 3);

		@include mobile-landscape {
			@include aspect-ratio(16, 9);
		}

		@include tablet-portrait {
			@include aspect-ratio(16, 7);
			max-height: 800px;
		}

		@include cover-img;
	}

	.info {
		@include cover-info;

		.usau-block {
			width: 100%;
		}

		.sub-headline {
			h2 {
				color: $white;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-family: $futura;
				font-style: italic;
				font-weight: 900;
				@include ms-respond(font-size, 0);
				line-height: 1em;
				display: inline-block;
				background: $blue;
				padding: 10px;
			}
		}

		.headline {
			text-align: left;

			@include tablet-landscape {
				grid-column: 2 / span 7;
				padding-right: 2rem;
			}
		}
	}

	&.headline-small {
		.sub-headline {
			h2 {
				@include ms-respond(font-size, -1);

				@include tablet-portrait {
					@include ms-respond(font-size, 0);				
				}
			}
		}

		.headline {
			h1.cover-title {
				@include ms-respond(font-size, 5);
		
				@include tablet-portrait {
					@include ms-respond(font-size, 7);
				}
			}
		}
	}
}