section.html {
    padding: 3rem 0;
    background: $white;

    & > * {
        @include tablet-landscape {
            grid-column: 2 / span 8;
        }
    }
}

.hub-navigation + section.html {
    @include tablet-landscape {
        padding: 6rem 0;
    }
}
