.hub-navigation {
	font-family: $proxima-nova;
	background: rgb(179,8,57);
	background: linear-gradient(180deg, rgba(179,8,57,1) 50%, rgba(157,21,53,1) 100%);
	color: $white;

	@include tablet-landscape {
		background: transparent;
		padding: 0;
	}

	&-wrapper {
		width: 100%;

		@include tablet-landscape {
			grid-column: 9 / span 5;	
		}			
	}

	a {
		color: $white;
	}
	
	.hub-wrapper {
		display: none;
		padding: 10px 0 30px 0;

		@include tablet-landscape {
			width: 100%;
			display: block;
			background: rgb(179,8,57);
			background: linear-gradient(180deg, rgba(179,8,57,1) 50%, rgba(157,21,53,1) 100%);
			position: absolute;
			right: 0;
			bottom: -50px;
			z-index: 5;			
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
			padding: 20px;
			border-radius: 5px;
		}
	}

	&.youth {
		.hub-wrapper {	
			@include tablet-landscape {
				bottom: -250px;
			}

			@include desktop {
				bottom: -150px;
			}
		}

		& + section.page-header + * {
			@include tablet-landscape {
				padding-top: 6rem;
			}
		}
	}

	&.open {
		.hub-wrapper {
			display: block;
		}

		.mobile-header {
			h4 {
				padding: 20px 0 10px 0;

				&:after {
					content: '–';
				}
			}
		}
	}

	.group-header {
		border-top: 1px solid $white;
		padding: 10px 0 15px 0;

		h4 {
			text-transform: uppercase;
			font-size: 1.25em;
			letter-spacing: 0.03em;
			font-family: $futura-condensed;
			font-weight: 500;
			font-style: italic;
		}
	}

	.mobile-header {
		@include tablet-landscape {
			display: none;
		}

		h4 {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.125rem;
			letter-spacing: 0.05em;
			font-family: $proxima-nova;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			padding: 20px 0 20px 0;

			&:after {
				content: '+';
				display: block;
				color: $white;
				text-align: right;
				cursor: pointer;
				font-size: 1.25em;
				font-family: $proxima-nova;
			}			
		}
	}

	.group {
		& + .group {
			padding-top: 40px;

			@include tablet-landscape {
				padding-top: 20px;
			}
		}
	}

	.links {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;

		@include tablet-landscape {
			grid-template-columns: 1fr 1fr;
		}

		a {
			font-size: 0.875rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;			

			@include tablet-landscape {
				font-size: 1rem;
			}

			&:hover {
				text-decoration: none;

				span.label {
					text-decoration: underline;
				}
			}

			@include tablet-landscape {
				padding: 5px 0;
			}

			span {
				&.icon {
					img {
						width: 100%;
						max-width: 20px;
					}
				}

				&.label {
					flex: 1;
					line-height: 1.125em;
					padding-left: 10px;
				}
			}
		}
	}

	.admin-link {
		padding-top: 25px;

		@include tablet-landscape {
			position: absolute;
			bottom: -60px;
			width: 100%;
			right: 0;
		}

		a {
			font-size: 0.8125em;
			font-weight: bold;
			display: inline-block;
			background: $white;
			color: $red;
			padding: 10px 15px 7px 15px;
			border-radius: 3px;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			&:hover {
				cursor: pointer;
			}

			@include tablet-landscape {
				display: flex;
				justify-content: center;
				padding: 16px 10px 14px 10px;
				color: $bright-red;
				width: 100%;
				border-radius: 5px;
				border: 3px solid $bright-red;
				background: transparent;

				&:hover {
					background: $bright-red;
					color: $white;
					text-decoration: none;
				}
			}



			span.label {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.875rem;
				letter-spacing: 0.05em;



				@include tablet-landscape {
					font-size: 0.875rem;
				}
			}
		}
	}

	& + .wp-block-spacer {
		@media screen and (max-width: 768px) {
			height: 2rem !important;
		}
	}
}