section.info-with-counter {
	.section-header {
		text-align: center;
		padding-bottom: 25px;

		h2 {
			text-transform: uppercase;
		}
	}

	.photo {
		margin-bottom: -25px;
	}

	.feature {
		display: flex;
		align-content: center;
		flex-wrap: wrap;

		& + .feature {
			margin-top: 50px;

			@include tablet-portrait {
				margin-top: 75px;
			}
		}

		&.no-counter {
			.info {
				margin: 0 auto;
			}
		}
	}

	.info {
		background: $white;
		padding: 40px 25px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
		width: 100%;

		@include mobile-landscape {
			width: calc(100% - 145px);
			margin-right: auto;
		}

		@include tablet-landscape {
			padding: 40px;
		}

		.headline {
			padding-bottom: 1rem;

			h3 {
				font-weight: bold;
			}			
		}
	}

	.counter {
		display: flex;
		align-items: center;
		
		width: 100%;
		padding-bottom: 10px;

		@include mobile-landscape {
			width: 120px;
			padding-bottom: 0;
			justify-content: center;
		}
		
		.count {
			display: block;
			font-size: 3em;
			font-family: $futura-condensed;
			font-weight: 800;
			text-transform: uppercase;
			font-style: italic;
			color: $bright-red;

			@include tablet-portrait {
				font-size: 4em;
			}
		}
	}

	& + section.cta {
		padding-top: 3rem;
	}
}