section.latest-news {
	padding: 50px 0;
	

	@include tablet-landscape {
		padding: 100px 0 50px 0;
	}

	.news-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;

		@include mobile-landscape {
			grid-template-columns: 1fr 1fr;
		}

		@include tablet-portrait {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@include tablet-landscape {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	article {
		&.news-article-0 {
			@include mobile-landscape {
				grid-column: 1 / span 2;

				a.article-link {
					.photo {
						@include aspect-ratio(2,1);
					}

					.headline {
						max-width: 400px;

						h3 {
						}
					}
				}
			}

			@include tablet-portrait {
				grid-column: 1 / span 3;

				a.article-link {
					.photo {
						@include aspect-ratio(3,1);
					}

					.headline {

						h3 {
						}
					}
				}
			}
		}

		&.news-article-5 {
			@include mobile-landscape {
				grid-column: 1 / span 2;

				a.article-link {
					.photo {
						@include aspect-ratio(2,1);
					}

					.headline {
						max-width: 640px;

						h3 {
						}
					}
				}
			}

			@include tablet-portrait {
				grid-column: 2 / span 2;
			}

			@include tablet-landscape {
				grid-column: 4 / span 1;

				a.article-link {
					.photo {
						@include aspect-ratio(1,1);
					}

					.headline {
						h3 {
						}
					}
				}
			}

			@include desktop {
				a.article-link {
					.headline {
						h3 {
						}
					}
				}
			}
		}


		.primary-category {
			position: absolute;
			top: 20px;
			right: 20px;
			z-index: 20;

			a {
				color: $white;
				font-family: $proxima-nova;
				text-transform: uppercase;
				font-size: 0.75rem;
				letter-spacing: 0.15em;
				font-weight: bold;
				padding: 7px 10px 6px 10px;
				border: 1px solid $white;
				border-radius: 15px;

				&:hover {
					background: $white;
					color: $slate;
					text-decoration: none;
				}
			}
		}

		a.article-link {
			display: block;
			position: relative;
			height: 100%;
			width: 100%;

			.photo {
				overflow: hidden;
				@include aspect-ratio(1,1);
				width: 100%;
				height: 100%;

				img {
					width: 100% !important;
					height: 100% !important;
					object-fit: cover;
					filter: saturate(0.5) brightness(0.8) contrast(1.1);
					transition: all 0.2s ease-in;
					transform-origin: center;
				}
			}

			&:hover {
				.photo {
					img {
						transform: scale(1.05);
					}
				}
			}

			.info {
				@include cover-info;
				color: $white;
				background: rgba(0, 43, 92, 0.5);
				padding: 1rem;
				transition: all 0.2s ease-in;
				justify-content: flex-start;
				align-items: flex-end;
			}

			.date {
				font-family: $proxima-nova;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-weight: 600;
				opacity: 0.9;
				padding-bottom: 10px;

				&:after {
					content: '';
					display: block;
					width: 2rem;
					height: 0.25rem;
					background: $bright-red;
					margin: 0.5rem 0 0 0;
				}				
			}

			.headline {
				h4 {
					transition: all 0.2s ease-in;
					text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}

	.cta {
		padding-top: 40px;
	}
}