section.media-carousel {
	margin-bottom: 6rem;

	@include tablet-landscape {
		margin-bottom: 10rem;
	}

	.section-header {
		padding-bottom: 1.5rem;

		@include tablet-landscape {
			grid-column: 4 / span 8;
		}
	}

	.slides-wrapper {
		grid-column: 1 / -1;
	}

	.slides {	
		display: block;
		max-width: 100vw;
		width: 100%;

		.slick-list {
			padding-bottom: 1rem !important;
		}
	}

	.slide {
		background: $white;
		padding: 0.75rem;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
		margin: 0 10px;
		outline: none !important;
		max-width: 80vw;
		width: 100%;

		@include tablet-landscape {
			max-width: 840px;
			width: 100%;
			padding: 1.25rem;
		}


		.photo {
			@include aspect-ratio(16, 9);
			@include cover-img;
			width: 100%;
		
			img {
				object-position: center center;
				width: 100%;
			}


		}

		.caption {
			padding-top: 1.25rem;
			color: $blue;
			width: 100%;

			.headline {
				padding-bottom: 5px;
				width: 100%;

				h4 {
					font-family: $futura-condensed;
					text-transform: uppercase;
					font-weight: 900;
					font-style: italic;
					font-size: 1.125rem;
					width: 100%;

					@include tablet-portrait {
						font-size: 1.5rem;
					}
					
				}
			}
		}
	}
	
}