.membership-options {
	padding-bottom: 100px;

	.header {
		padding-bottom: 25px;
		text-align: center;

		h2 {
			font-weight: bold;
			color: $blue;
			font-style: italic;
			font-size: 2.5rem;
		}

		.copy {
			padding-top: 10px;
			max-width: 800px;
			margin: 0 auto;
		}
	}


	.options {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(1, 1fr);

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet-landscape {
			grid-template-columns: repeat(12, 1fr);

			.option-1,
			.option-6 {
				grid-column: 1 / span 4;
			}

			.option-2,
			.option-7 {
				grid-column: 5 / span 4;
			}

			.option-3,
			.option-8 {
				grid-column: 9 / span 4;
			}

			.option-4,
			.option-9 {
				grid-column: 1 / span 6;
				@include aspect-ratio(12, 6);
			}

			.option-5,
			.option-10 {
				grid-column: 7 / span 6;
				@include aspect-ratio(12, 6);
			}			

			.option-11 {
				grid-column: 1 / span 12;
				@include aspect-ratio(12, 3);
			}
		}
	}

	.option {
		@include aspect-ratio(4,3);

		a {
			display: block;
			width: 100%;
			height: 100%;
			color: $white;
		}

		.photo {
			width: 100%;
			height: 100%;
			@include cover-img;

			img {
				filter: grayscale(20%);
				object-position: center center;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 5;
				width: 100%;
				height: 100%;
				background: rgba(0,43,92, 0.5);
			}
		}

		.info {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			padding: 40px 20px;
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;

			@include desktop {
				padding: 40px;
			}

			&-wrapper {
				width: 100%;

			}
		}

		.headline {
			h3 {
				font-weight: bold;
				font-style: italic;
				font-size: 1.5rem;

				@include tablet-portrait {
					font-size: 2rem;
				}

				span.description {
					padding-top: 0.5rem;
					display: block;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.5em;
				}
			}
		}

		.price {
			padding-top: 10px;
			width: 100%;

			h4 {
				font-size: 1.25rem;
				background: $bright-red;
				display: inline-block;
				padding: 10px;
				font-style: italic;
				font-weight: bold;

				@include tablet-portrait {
					font-size: 2rem;
				}
			}
		}

		.price-options {
			display: flex;
			align-items: center;
			position: absolute;
			bottom: -20px;
			left: 0;
			width: 100%;

			h5 {
				font-size: 0.875rem;
			}

			.price-option + .price-option {
				padding-left: 15px;
			}
		}

	}




}