section.news-updates {
    background: $white;
    padding: 3rem 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);

    .section-header {
        padding-bottom: 1rem;
    }

    .news-updates-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);

        @include mobile-landscape {
            grid-template-columns: repeat(2, 1fr);            
        }

        @include tablet-portrait {
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem 4rem;
        }
    }

    .news-update {
        .col-header {
            padding-bottom: 0.5rem;

            h5 {
                text-transform: uppercase;
                letter-spacing: 0.05rem;
                @include ms-respond(font-size, -1);
            }

        }

        .copy {
            strong, b {
                font-weight: 900;
            }

            a {
                color: $bright-red;
            }
        }



        ul {
            margin-left: 1rem;

            li + li {
                padding-top: 1rem;
            }
        }
    }

}