.page-header {

	&.aligncenter {
		text-align: center;

		.headline, 
		.copy {
			margin: 0 auto;
		}
		
		.headline.underline:after {
			margin: 0.5rem auto 1rem auto;
		}
	}

	.headline  {
		padding-bottom: 0.5rem;
	}

	&.basic-page {
		.copy {
			@include tablet-landscape {
				grid-column: 2 / span 8;
			}
		}
		
		h5 {
			font-weight: bold;
			color: $blue;
			padding-bottom: 0;
			font-size: 1rem;
			
			& + p {
				padding-top: 0;
			}
		}

	}
}

nav.hub-navigation + section.page-header {
	padding-top: 2rem;

	@include tablet-portrait {
		padding-top: 3rem;
	}
	
	.headline, .copy {		
		@include tablet-portrait {
			grid-column: 2 / span 8;
		}

		@include tablet-landscape {
			grid-column: 2 / span 7;
			padding-right: 2rem;
		}
	}
}

section.page-header + * {
	padding-top: 3rem;

	@include tablet-landscape {
		padding-top: 6rem;
	}
}

section.hero-photo + section.page-header {
	padding-top: 3rem;

	@include tablet-landscape {
		padding-top: 4rem;
	}
}