.usau-people-grid {
	.people-grid {
		.person {
            .thumbnail-photo {
                @include aspect-ratio(3, 4);
                @include cover-img;

                img {
                    object-position: center center;
                }
            }
			.info {
                .meta {
                    padding-top: 5px;
                }

			}
		}
	}

    .profile-overlay {
		display: none;

		.overlay-wrapper {
			max-width: 680px;
			margin: 0 auto;
			width: 100%;
			@include scroll-y;
			align-items: flex-start;
		}

		.profile-wrapper  {
			background: $white;
			color: $blue;
			border-radius: 10px;
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
			padding: 25px;
			display: flex;
			flex-wrap: wrap;

			@media screen and (max-height: 700px) {
				margin-bottom: 50px;
			}
		}

		.photo {
			width: 100%;

			img {
				max-width: 200px;
				margin: 0 auto;
			}

			@include tablet-portrait {
				max-width: 200px;
			}
			
		}

		.info {
			flex: 1;

			@include tablet-portrait {
				text-align: left;
				padding-left: 25px;
			}


		}

		.meta {
			display: block;
			padding-top: 0.25rem;
			color: $blue;

			span + span {
				padding-left: 3px;

				&:before {
					content: '·';
					display: inline-block;
					margin-right: 8px;
				}
			}
		}

		.biography {
			text-align: left;
			padding-top: 1.25rem;

            ul, ol {
                margin-left: 1.25rem;
            }

            strong, b {
                font-weight: bold;
            }

            a {
                color: $bright-red;
                font-weight: bold;
            }
		}

	}
}