section.photo-essay {
    padding-bottom: 6rem;
    overflow: hidden;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-image: url(images/photo-essay-background-poly.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    &:before {
        background-position: top left;
        left: 0;
        top: 20vh;
    }

    &:after {
        background-position: bottom left;
        transform: scaleX(-1);
        left: 0;
        bottom: 20vh;
    }


    .photo, .photos {
        background: $white;
        padding: 1rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

        @include tablet-landscape {
            padding: 2rem;
        }
    }

    .caption {
        &-headline {
            h5 {
                color: $blue;
                text-transform: uppercase;
                font-size: 1.125rem;
                line-height: 1.25em;
                font-weight: bold;
                font-family: $proxima-nova;
                letter-spacing: 0.1em;
            }
        }

        &-body {
            padding-top: 0.5rem;
        }
    }

    .photo-section {
        display: grid;
        gap: 0 2rem;
        grid-template-columns: repeat(12, minmax(auto,  1fr));

        & > * {
            grid-column: 1 / -1;
        }

        & + .photo-section {
            padding-top: 6rem;
        }


    }

    .side-by-side {
        &.align-left {
            .photo {
                @include tablet-portrait {
                    grid-column: 1 / span 8;
                }
            }

            .caption {
                @include tablet-portrait {
                    grid-column: 9 / span 4;
                }
            }
        }

        &.align-right {
            .caption {
                @include tablet-portrait {
                    grid-column: 1 / span 4;
                    grid-row: 1;
                }
            }

            .photo {
                @include tablet-portrait {
                    grid-column: 5 / span 9;
                    grid-row: 1;
                }
            }
        }

        .caption {
            padding-top: 1rem;

            @include tablet-portrait {
                padding-top: 0;
                display: flex;
                flex-direction: column;

                &-headline {
                    margin-top: auto;
                }
            }
        }
    }

    .dual-photo {
        .photos {
            display: flex;
            justify-content: space-between;
            width: 100%;

            img {
                width: calc(50% - 0.5rem);
                
                @include tablet-landscape {
                    width: calc(50% - 1rem);
                }
            }
        }
    }


    .dual-photo,
    .full-width {
        .caption {
            padding-top: 1rem;
            
            @include tablet-portrait {
                padding-top: 2rem;
                grid-column: 1 / span 9;
            }

            @include tablet-landscape {
                grid-column: 1 / span 8;
            }
        }
    }
}