section.rankings {
	background: $white;
	padding: 2rem;

	.section-header {
		padding-bottom: 2rem;
	}
	.copy {
		padding-bottom: 2rem;
		font-style: italic;
	}

	.rankings-table {
		width: 100%;
		max-width: 100%;
		font-family: $proxima-nova;
		font-size: 0.75em;
	
		@include tablet-portrait {
			font-size: 0.875em;
		}
	
		th, td {
			padding: 10px 3px;
	
			@include mobile-landscape {
				padding: 10px 5px;
			}
	
			@include tablet-portrait {
				padding: 15px 10px;
			}
		}
	
		thead {
			text-align: left;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-weight: normal;
			background: $bright-red;
			font-size: 0.875em;
		}
	
		.region,
		.record {
			display: none;
	
			@include mobile-landscape {
				display: table-cell;
			}
	
			@include tablet-portrait {
				display: none;
			}
	
			@include desktop {
				display: table-cell;
			}
		}	
	
		tbody {
			@include tablet-landscape {
				font-size: 0.8125rem;
			}
			td {
				vertical-align: middle;
	
				&.rank {
					text-align: center;
					font-weight: 600;
				}

				&.team {
					font-weight: 600;
					a {
						font-weight: 600;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				&.trend {
					text-align: center;
	
					.positive,
					.negative {
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: bold;
	
						&:before {
							content: "";
							display: block;
							margin-right: 5px;
							width: 8px;
							height: 6px;
							
						}
					}
	
					.positive {
						&:before {
							background: $green;
							clip-path: polygon(50% 0, 0 100%, 100% 100%);
						}
					}
	
					.negative {			
						&:before {
							background: $bright-red;
							clip-path: polygon(100% 0, 0 0, 50% 100%);
						}
					}
				}
			}
	
			tr.bid {
				td.rank {
					span.bid {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						position: relative;
	
						&:before {
							display: block;
							content: '';
							background: #d6ae40;
							width: 10px;
							height: 10px;
							position: absolute;
							left: 0px;
							clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	
							@include mobile-landscape {
								left: -4px;
							}
						}
	
						&-wildcard {
							&:before {
								background: #7d7c84;
							}
						}
					}
				}
			}
	
			tr:nth-child(even) {
				background: $off-white;
			}
		}
	}
	
	.legend {
		display: flex;
		justify-content: center;
		font-family: $proxima-nova;
		padding-bottom: 20px;
	
		.bid {
			display: block;
	
			& + .bid {
				margin-left: 30px
			}
	
			span {
				display: block;
				padding-left: 10px;
	
				&:before {
					display: block;
					content: '';
					background: #d6ae40;
					width: 10px;
					height: 10px;
					position: absolute;
					left: -4px;
					top: 2px;
					clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
				}
			}
	
			&.wildcard {
				span:before {
					background: #7d7c84;
				}
			}
		}
	}
	
	.bid-allocation {
		padding: 50px 0 15px 0;
	
		.headline {
			padding-bottom: 1rem;
			font-style: italic;
		}
	
		.regions {
			display: flex;
			flex-wrap: wrap;
			border: 1px solid $light-gray;
			background: $off-white;
		}
	
		.region {
			display: flex;
			width: 50%;
			justify-content: space-between;
			padding: 12px 20px 11px 20px;
			border: 1px solid $light-gray;
			border-collapse: collapse;
			font-family: $proxima-nova;
	
			.number {
				font-weight: bold;
			}
		}
	}

}


.usau-block {
	.rankings {
		@include tablet-landscape {
			grid-column: 2 / span 6;

			
			& + .rankings {
				grid-column: 8 / span 6;

				& + .rankings {
					grid-column: 2 / span 6;
				}	
			}
			
		
		}
	}
}

body.single-post section.article-body {
	section.rankings {
		background: $off-white;
		margin-bottom: 2rem;
	}

	table.rankings-table {
		border-right: none;
		border-top: none;
		border-color: #d9d9d9;

		td {
			border-color: #d9d9d9;
		}
	}

	.cta {
		.btn {
			text-decoration: none;
		}
	}
}

body.page-rankings {
	section.usau-section {
		.section-content {
			display: grid;
			gap: 2rem;
			grid-template-columns: repeat(4, minmax(auto,  1fr));
				
			@include mobile-landscape {
				grid-template-columns: repeat(8, minmax(auto,  1fr));
			}
		
			@include tablet-landscape {
				grid-template-columns: repeat(12, minmax(auto,  1fr));
			}

			& > * {
				grid-column: 1 / -1;
			}	


			.rankings {
				@include tablet-landscape {
					grid-column: 1 / span 6;

					& + .rankings {
						grid-column: 7 / span 6;

						& + .rankings {
							grid-column: 1 / span 6;
						}		
					}			
				}
			}

		}
	}
}