section.roster-logs {
	padding-top: 100px;

	.section-header {
		.headline {
			padding-bottom: 1rem;
		}

		.copy {
			max-width: 640px;
			margin: 0 auto;
		}
	}

	.tab-links {
		padding: 1.5rem 0;
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			display: block;
			padding: 10px 15px;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 0.875rem;
			letter-spacing: 0.05em;
			background: $white;
			color: $bright-red;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

			&:first-of-type {
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}

			&:last-of-type {
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}

			&:hover,
			&.active {
				background: $bright-red;
				color: $white;
				text-decoration: none;
			}
		}
	}

	.division-header {
		padding-bottom: 1rem;
	}

	.tab {
		background: $white;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		padding: 25px;
		display: none;

		&.active {
			display: block;
		}

		@include tablet-portrait {
			padding: 25px 50px 50px 50px;
		}
	}

	.division-tab {
		max-height: 600px;
		overflow-y: scroll;
	}




}


.roster-log-table {
	width: 100%;
	max-width: 100%;
	font-family: $proxima-nova;
	font-size: 0.75em;
	@include scroll-x;

	@include tablet-portrait {
		font-size: 0.8125em;
		border: 1px solid $light-gray;
	}

	th, td {
		padding: 10px 3px;

		@include mobile-landscape {
			padding: 10px 5px;
		}

		@include tablet-portrait {
			padding: 15px 10px;
		}
	}


	thead {
		text-align: left;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: normal;
		background: $blue;
		font-size: 0.875em;
	}

	tbody {
		td {
			vertical-align: middle;

			& + td {
				border-left: 1px solid $light-gray;
			}


			&.team,
			&.status  {
				font-weight: bold;
			}

			&.arrival-date,
			&.status {
				text-align: center;
			}
		}

		tr {
			border-bottom: 1px solid $light-gray;

			&:nth-child(even) {
				background: $off-white;
			}

			&.status-Valid {
				td.team {
					background: #00FF02;
					color: $slate;
				}
			}

			&.status-Pending {
				td.team {
					background: #FFFF02;
					color: $slate;
				}
			}
		}
	}


}
