section.scoreboard {
	background: $white;
	padding: 50px 0;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

	.tournament-header {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 2rem;

		.logo {
			width: 100%;
			padding-bottom: 10px;

			@include tablet-portrait {
				margin-right: 20px;
				width: auto;
				padding-bottom: 0;
			}			

			img {
				max-width: 100px;

				@include tablet-portrait {
					max-width: 160px;
				}
			}
		}

		.info {
			.scoreboard-header {
				h2 {
					font-weight: bold;
					color: $blue;
					font-style: italic;
					font-family: $futura-condensed;
					font-size: 1.5rem;
					text-transform: uppercase;

					@include tablet-portrait {
						font-size: 2.25rem;
					}
				}

				h3 {
					padding-top: 10px;
					color: $bright-red;
					font-family: $proxima-nova;
					text-transform: uppercase;
					font-size: 0.8125rem;
					letter-spacing: 0.05em;
					font-weight: bold;
				}
			}
		}

		.links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding: 15px 20px 13px 20px;
			border-radius: 3px;
			margin-top: 20px;
			font-family: $proxima-nova;
			border: 1px solid $bright-red;

			.header {
				width: 100%;
				padding-right: 1rem;
				padding-bottom: 10px;

				@include tablet-portrait {
					padding-bottom: 0;
					width: auto;
				}

				h4 {
					font-weight: bold;
					color: $bright-red;
					line-height: 1em;
				}
			}

			.link {
				& + .link {
					padding-left: 1rem;

					&:before {
						content: '·';
						margin-right: 1rem;
						font-weight: bold;
						font-size: 1.125rem;
					}
				}

				a {
					font-size: 0.875rem;
					line-height: 1em;
					font-weight: 700;
					font-family: $proxima-nova;
					display: inline-block;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.games {
		display: grid;
		gap: 50px 20px;

		@include mobile-landscape {
			grid-template-columns: repeat(2, 1fr);
		}

		@include tablet-portrait {
			grid-template-columns: repeat(3, 1fr);
		}

		@include tablet-landscape {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.division {
		text-align: center;
		text-transform: uppercase;
		font-size: 0.75rem;
		font-weight: 700;
		background: $blue;
		color: $white;
		letter-spacing: 0.1em;
		padding: 9px 10px 7px 10px;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}

	.game-wrapper {
		background: $white;
		padding: 20px 30px 20px 30px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
		font-family: $proxima-nova;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;

		.team {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& + .team {
				padding-top: 10px;
			}

			.name {
				span {
					color: $blue;
					font-weight: 500;
				}
			}

			.score {
				span {
					color: $bright-red;
				}
			}
		}

		.status {
			text-transform: uppercase;
			font-size: 0.75rem;
			font-weight: 700;
			color: $bright-red;
			padding-top: 10px;
			padding-bottom: 10px;
			letter-spacing: 0.1em;
		}



		.meta {
			padding-top: 25px;
			font-size: 0.8125em;
			text-align: center;
			color: $charcoal;

			span {
				display: block;
			}

			span + span {
				padding-top: 5px;
			}
		}
	}

	.team-1-up .team-1,
	.team-2-up .team-2 {

		.name,
		.score {
			span {
				font-weight: bold;
			}
		}		
	}

	.watch-link {
		padding-top: 15px;

		a {
			display: block;
			text-align: center;
			padding: 12px 10px 10px 10px;
			color: $bright-red;
			border-radius: 3px;
			border: 2px solid;
			text-transform: uppercase;
			font-family: $proxima-nova;
			letter-spacing: 0.1em;
			font-weight: bold;
			font-size: 1rem;

			&:hover {
				text-decoration: none;
				background: $bright-red;
				color: $white;
				border-color: $bright-red;
			}
		}
	}


}
