section.season-schedule {

	.filters {
		padding-bottom: 50px;

		@include tablet-portrait {
			display: flex;
			align-items: center;
		}

		h3 {
			font-size: 1em;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			font-weight: bold;
			color: $blue;
			font-family: $proxima-nova;
			padding: 0;

			@include tablet-portrait {
				padding: 0 15px 0 0;
			}
		}


		.options {
			.cta {
				display: inline-block;

				& + .cta {
					padding-top: 10px;
					padding-left: 5px;
				}

				a {
					@include tablet-portrait {
						padding-bottom: 9px;
					}
				}
			}

			@include tablet-portrait {
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.cta {
					& + .cta {
						padding-top: 0;
						padding-left: 15px;
					}
				}

			}

		}
	}

	.week {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

		& + .week {
			margin-top: 50px;

			@include tablet-portrait {
				margin-top: 25px;
			}
		}

		&-header {
			background: $bright-red;
			color: $white;
			width: 100%;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding: 10px 20px;

			@include tablet-portrait {
				cursor: pointer;
			}

			h3 {
				font-family: $futura-condensed;
				text-transform: uppercase;
				font-weight: 500;
				font-style: italic;
				font-size: 2em;
				width: 100%;

				@include mobile-landscape{
					width: auto;
				}
			}

			h4 {				
				text-transform: uppercase;
				letter-spacing: 0.05em;
				width: 100%;
				padding-top: 5px;

				@include mobile-landscape{
					width: auto;
					padding-top: 0;
					padding-left: 10px;
				}
			}

			span.caret {
				display: none;
				content: '';
				width: 24px;
				height: 18px;
				background: url(images/icon-down-caret-white.svg) no-repeat 0 0;
				background-size: 100%;
				position: absolute;
				top: 16px;
				right: 20px;
				z-index: 10;
				transition: all 0.075s ease-in;

				@include tablet-portrait {
					display: block;
				}
			}
		}

		&-schedule {
			background: $white;
			padding: 20px;
		}

		&.hide {
			.week-header {
				span.caret {
					transform: rotate(180deg);
					top: 18px;
				}
			}
			.week-schedule {
				display: none;
				margin-bottom: 0;
			}

			.error-message {
				display: none;
			}
		}
	}

	.error-message {
		color: $blue;
		padding: 20px;
	}

	.schedule-weeks + .results-weeks {
		padding-top: 3rem;

		@include tablet-portrait {
			padding-top: 6rem;
		}
	}

	.results-weeks {

		.week {
			height: auto;
			background: $white;
			margin-bottom: 25px;
			margin-top: 0;

			@include tablet-portrait {
				margin-bottom: 50px;
			}
		}

		& > * {
			width: 100%;
		}

		.section-header {
			order: -100;
		}
	}
}


.schedule-table {
	width: 100%;
	max-width: 100%;
	font-family: $proxima-nova;
	font-size: 0.75em;

	@include tablet-portrait {
		font-size: 0.875em;
	}

	td {
		padding: 10px 3px;

		@include mobile-landscape {
			padding: 10px 5px;
		}

		@include tablet-portrait {
			padding: 15px 10px;
		}
	}


	thead {
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-weight: normal;

		@include mobile-landscape-reverse {
			display: none;
		}

		th {
			border-bottom: 1px solid $slate;
			padding: 10px 3px 5px 3px;
			color: $blue;

			@include mobile-landscape {
				padding: 10px 5px 10px 5px;
			}

			@include tablet-portrait {
				padding: 15px 10px 10px 10px;
			}
		}
	}

	tbody {
		tr {
			& + tr {
				td {
					border-top: 1px solid $light-gray;
				}				
			}


			@include mobile-landscape-reverse {
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				& + tr {
					td {
						border-top: none;
					}	
				}


				&:not(.hide) + tr {
					padding-top: 20px;
				}
			}
		}

		.tournament {
			&.hide {
				display: none;
			}
		}

		td {

			span.label {
				display: none;
			}

			&.event,
			&.results {
				a {
					border-bottom: 1px dotted;
					font-weight: bold;

					&:hover {
						text-decoration: none;
					}
				}
			}

			@include mobile-landscape-reverse {
				padding: 0 0 5px 0;
				width: 100%;


				span.label {
					display: inline;
					font-weight: bold;
					padding-right: 5px;
				}

				&.event {
					order: -1;
					font-size: 1.25em;
					font-weight: bold;
				}

				&.champion.empty,
				&.results.empty {
					display: none;
				}
			}
		}


	}


}