.site-map.usau-block {
    padding: 3rem 0;

    @include tablet-landscape {
        padding: 6rem 0;
    }

    .site-map-section {
        display: grid;
        gap: 0 2rem;
        grid-template-columns: repeat(1, 1fr);
        
        @include mobile-landscape {
            grid-template-columns: repeat(3, 1fr);
        }

        & + .site-map-section {
            margin-top: 3rem;
            border-top: 1px solid $light-gray;
            padding-top: 3rem;


        }
    }

    .col {
        & + .col {
            padding-top: 3rem;

            @include mobile-landscape {
                padding-top: 0;
            }
        }
    }

    .link {
        & + .link {
            padding-top: 0.75rem;
        }

        a {
            font-family: $proxima-nova;
            font-size: 0.875rem;
            font-weight: 600;

            @include tablet-landscape {
                font-size: 0.875rem;
            }
        }

        & + .link.header {
            padding-top: 3rem;
        }


        &.header {            
            a {
                font-weight: bold;
                font-size: 0.9375rem;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                color: $bright-red;

                @include tablet-landscape {
                    font-size: 1rem;
                }
            }
        }
    }


}