section.spirit-awards {

    .divisions {
        display: grid;
        &.one-col {
            @include tablet-portrait {
                grid-column: 3 / 9;

            }
            @include tablet-landscape {
                grid-column: 5 / span 6;
            }
        }

        &.two-col {
            gap: 2rem;
            grid-template-columns: repeat(1, 1fr);

            @include tablet-landscape {
                grid-template-columns: repeat(2, 1fr);
            }
        }

    }

    .award {
        background: $white;
        padding: 2rem; 
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        border-radius: 3px;

        @include tablet-landscape {
            &:nth-child(1) {
                .winner {
                    .photo {
                        order: -1;
                    }
                }
            }
        }
    }

    .about {
        .headline {
            padding-bottom: 1rem;
        }
    }

    .winner {
        padding: 0 0 2rem 0;


        .photo {
            display: block;
            @include aspect-ratio(3, 4);
            @include cover-img;
            float: right;
            width: calc(50% - 1rem);
            margin: 0 0 1rem 2rem;

            img {
                object-position: center center;
            }          
        }

        .info {
            .tagline {
                padding-bottom: 0.5rem;

                h5 {
                    text-transform: uppercase;
                    font-family: $proxima-nova;
                    letter-spacing: 0.05em;
                    font-weight: 600;
                    color: $bright-red;
                    font-size: 0.75rem;
                    line-height: 1.125em;

                    &:after {
                        content: '';
                        display: block;
                        width: 30px;
                        height: 3px;
                        background: $bright-red;
                        margin-top: 0.5rem;
                        margin-bottom: 1rem;
                    }
                }
            }

            h4 {
                color: $blue;
                font-family: $futura;
                font-weight: 700;
                font-style: italic;
                letter-spacing: -0.015em;
                @include ms-respond(font-size, 2);
                line-height: 1.125em;


            }

            h5 {
                color: $light-blue;
                font-family: $futura;
                font-weight: 700;
                letter-spacing: -0.015em;
                @include ms-respond(font-size, 0);
                line-height: 1.125em;
            }

            p {
                padding-top: 1rem;
                @include ms-respond(font-size, -1);
                line-height: 1.5em;
            }

        }


    }

    .finalists {
        clear: both;

        @include tablet-landscape {
            padding-top: 2rem;
        }

        &:before {
            content: '';
            display: block;
            width: 30px;
            height: 3px;
            background: $bright-red;
            margin-bottom: 1rem;
        }
        .headline {
            h5 {
                font-style: italic;
            }
        }
        .copy {
            padding-top: 0.5rem;
            font-style: italic;

            p {
                line-height: 1.25rem;
            }
        }
    }
}