.streaming-schedule {

    .day {
        @include tablet-landscape {
            grid-column: 2 / span 8;
        }

        & + .day {
            padding-top: 3rem;

            @include mobile-landscape {
                padding-top: 6rem;
            }
        }

        .section-header {
            h4 {
                font-style: italic;
            }
        }
    }

    &-table {
        width: 100%;
        max-width: 100%;
        font-family: $proxima-nova;
        font-size: 0.75em;

        @include tablet-portrait {
            font-size: 0.875em;
        }

        td {
            padding: 10px 3px;

            @include mobile-landscape {
                padding: 10px 5px;
            }

            @include tablet-portrait {
                padding: 15px 10px;
            }
        }        

        thead {
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: normal;

            @include mobile-landscape-reverse {
                display: none;
            }

            th {
                padding: 10px 3px 10px 3px;
                color: $white;
                background: $blue;

                @include mobile-landscape {
                    padding: 10px 5px 10px 5px;
                }

                @include tablet-portrait {
                    padding: 15px 10px 15px 10px;
                }
            }
        }

        tbody {
            tr {
                & + tr {
                    td {
                        border-top: 1px solid $light-gray;
                    }				
                }

                &:nth-child(odd) {
                    background: #eee;
                }


                @include mobile-landscape-reverse {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding: 1rem;

                    & + tr {
                        td {
                            border-top: none;
                        }	
                    }

                    &:not(.hide) + tr {
                        padding-top: 20px;
                    }
                }
            }

            td {
                vertical-align: middle;

                span.label {
                    display: none;
                }

                &.watch {
                    a {
                        border-bottom: 1px dotted;
                        font-weight: bold;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                &.division,
                &.time,
                &.watch {
                    min-width: 120px;
                }

                &.match-up {
                    max-width: 220px;

                }

                @include mobile-landscape-reverse {
                    padding: 0 0 5px 0;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;

                    span.label {
                        display: inline;
                        font-weight: bold;
                        padding-right: 5px;
                    }

                }
            }


        }
    }
}