section.team-usa-archive,
section.team-usa-roster {
    padding: 3rem 0;

    @include tablet-landscape {
        padding: 3rem 0 6rem 0;
    }

    .meta {
        padding-bottom: 3rem;

        .delegation {
            display: flex;
            align-items: flex-start;
            padding-bottom: 1rem;
            border-bottom: 2px solid $blue;
            margin-bottom: 2rem;

            .headline {
                padding-right: 2rem;

                h5 {
                    font-style: italic;
                    white-space: nowrap;
                }
            }

            .teams {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 0.5rem 2rem;

                a {
                    display: block;
                    font-weight: 600;
                    font-size: 1rem;
                    padding: 4px 0 2px 0;
                    border-bottom: 2px solid transparent;

                    &:hover,
                    &.active {
                        text-decoration: none;
                        border-bottom-color: $bright-red;
                    }

                }
            }
        }

        .placeholder {
            padding-top: 2rem;

            .photo {
                @include aspect-ratio(16, 9);
                @include cover-img;

                img {
                    object-position: center center;
                }
            }

            .headline {
                padding-top: 1.5rem;
            }

            .copy {
                padding-top: 0.5rem;
                color: $blue;
            }
        }

        .location {
            h2 {
                color: $blue;
                font-size: 1.5rem;
                font-weight: bold;

                @include tablet-portrait {
                    font-size: 2rem;
                }
            }
        }

        .result {
            display: flex;
            align-items: center;
            padding-top: 10px;

            .medal {
                img {
                    width: 16px;

                    @include tablet-portrait {
                        width: 24px;
                    }
                }
            }

            h3 {
                font-weight: bold;
                color: $bright-red;
                font-size: 1.25rem;
                padding-left: 5px;

                @include tablet-portrait {
                    font-size: 1.5rem;
                }
            }
        }

        .photo {
            padding-top: 25px;
        }
    }

    .results {
        .results-header {
            padding-bottom: 1rem;
        }

        .game {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 20px;
            border: 2px solid $blue;
            text-align: center;
            font-weight: bold;

            & + .game {
                margin-top: 20px;
            }

            .team {
                width: 33.3333%;
                color: $blue;
                font-size: 0.9375rem;

                &.usa {
                    text-align: right;
                }

                &.opponent {
                    text-align: left;
                }
            }

            .score {
                width: 33.3333%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                color: $bright-red;
                font-size: 1.125rem;
            }

            .round {
                width: 100%;
                padding-top: 0.25rem;
                font-size: 0.625rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
        }
    }
}

section.team-usa-archive {
    .info {
        @include tablet-landscape {
            grid-column: 2 / span 7;
        }
    }

    .roster-list {
        @include tablet-landscape {
            grid-column: 9 / span 5;
        }
    }

    .player-gallery {
        padding-top: 3rem;
    }

    .player-grid {
        display: grid;
        gap: 3rem 2rem;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }

    .player {
        &__photo {
            aspect-ratio: 4 / 5;
            @include cover-img;
        }

        &__info {
            text-align: center;
            padding-top: 0.75rem;
        }

        &__headline {
            font-weight: bold;
            font-style: italic;
            font-size: 1rem;
            color: $blue;
        }

        &__meta {
            padding-top: 0.25rem;
            color: $bright-red;
            font-size: 0.875rem;
        }
    }
}

.roster-list {
    @include tablet-landscape {
        padding-top: 3rem;
    }

    .roster-header {
        padding-bottom: 1rem;
    }

    table {
        width: 100%;
        max-width: 100%;
        font-family: $proxima-nova;
        font-size: 0.875em;

        @include tablet-portrait {
            font-size: 0.875em;
        }

        td,
        th {
            padding: 15px 10px;
        }

        thead {
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-weight: normal;

            th {
                color: $white;
                background: $blue;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }
        }

        tbody {
            tr {
                & + tr {
                    td {
                        border-top: 1px solid $light-gray;
                    }
                }
            }

            td {
                color: $blue;

                &.name {
                    font-weight: 600;
                }

                &.city {
                }
            }

            tr.staff-header {
                td {
                    margin-top: 20px;
                    background: $blue;
                    color: $white;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    border-top: none !important;
                }
            }
        }
    }

    &.error-message {
        max-width: 420px;
        text-align: center;
        margin-left: auto;
    }
}
