.team-usa-results-archive {
	padding: 3rem 0;

	@include tablet-landscape {
		padding: 6rem 0;
	}

	.section-header {
		padding-bottom: 1rem;
	}

	section.team-usa-archive {
		padding: 0;

		& + section.team-usa-archive {
			padding-top: 3rem;
		}
	}

	.event-header {
		padding-bottom: 1.5rem;
	}

}


section.team-usa-archive {
	background: #f5f5f5;
	overflow: hidden;

	.event-header {
		padding-bottom: 1.5rem;
	}

	.grid {
		display: grid;
		gap: 1.5rem;
		
		@include tablet-landscape {
			grid-template-columns: 1fr 1fr;
		}


		&.count-1 {
			@include tablet-landscape {
				grid-template-columns: 1fr;

				.division {
					width: calc(50% - 0.75rem);
					margin: 0 auto;
				}
			}
		}
	}

	.division {
		@include scroll-x;
		max-width: 100%;

		&-header {
			background: $blue;
			padding: 15px 20px;
			color: $white;

			h4 {
				font-weight: bold;
				font-size: 1.125rem;
			}
		}

		table.results {
			width: 100%;
			font-family: $proxima-nova;


			thead {
				background: $light-gray;
				color: $slate;
				border: 1px solid $light-gray;

				th {
					text-align: left;
					padding: 15px 20px;
					font-size: 0.75rem;
					text-transform: uppercase;

					&.details,
					&.finish,
					&.record {
						text-align: center;
					}
				}
			}

			tbody {
				border: 1px solid $light-gray;
				border-top: none;
				
				tr + tr {
					td {
						border-top: 1px solid $light-gray;
					}
				}


				td {
					padding: 20px 20px;
					font-size: 0.875rem;
					background: $off-white;

					.finish-flex {
						display: flex;
						align-items: center;
						justify-content: center;

						.medal {
							padding-right: 5px;
							img {
								width: 16px;
							}
						}
					}

					&.year {
						p {
							font-weight: 600;
						}						
					}

					&.details,
					&.record {
						text-align: center;
					}

					a {
						font-weight: bold;
						
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}