section.team-usa-player-carousel {
	@include section-padding(125px, 125px);
	overflow: hidden;

	.section-header {
		text-align: center;
	}

	.player {
		@include aspect-ratio(3, 4);
		max-height: 800px;
		max-width: 450px;

		a {
			color: $white;
			display: block;
		}

		a,
		.photo,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.info {
			position: absolute;
			z-index: 10;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px;
			text-align: center;

			@include tablet-landscape {
				padding: 25px;
			}

			h3 {
				font-weight: 900;
				font-size: 1.125rem;
				background: $blue;
				padding: 10px;
				display: inline-block;
				font-style: italic;

				@include tablet-landscape {
					font-size: 1.5rem;
				}
			}

			h4 {
				text-transform: uppercase;
				font-size: 0.6875rem;
				font-weight: 600;
				letter-spacing: 0.15em;

				@include tablet-landscape {
					font-size: 0.875rem;
				}


				span {
					display: inline-block;
					padding: 7px 10px 7px 10px;
					background: $bright-red;
					color: $white;
				}
			}
		}
	}


}