section.team-usa-explore-teams {
	.photo {
		@include aspect-ratio(4, 4);

		@include mobile-landscape {
			@include aspect-ratio(16, 9);
		}

		@include tablet-portrait {
			@include aspect-ratio(16, 7);
			max-height: 800px;

			&.half {
				max-height: 400px;

				.info-wrapper {
					max-width: 960px;
				}
			}
		}

		@include cover-img;
	}

	.info {
		@include cover-info;

		&-wrapper {
			max-width: 960px;
			margin: 0 auto;
			padding: 0 25px;
		}

		.headline {
			text-align: center;

			h1 {
				@include mobile-landscape {
					font-size: 3rem;
				}

				@include tablet-portrait {
					font-size: 4.5rem;
				}
			}
		}

		.links {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 25px;

			.cta {
				+ .cta {
					padding-left: 25px;
				}
			}

		}
	}

}