section.team-usa-roster {	
	.info {
		@include tablet-landscape {
			grid-column: 2 / span 7;
		}
	}

	.results {
		@include tablet-landscape {
			padding-top: 3rem;
			grid-column: 9 / span 5;
		}
	}

	.grid {
		display: grid;
		gap: 3rem 2rem;

		&.four-col {
			grid-template-columns: repeat(1, 1fr);

			@include mobile-landscape {
				grid-template-columns: repeat(3, 1fr);
			}

			@include tablet-landscape {
				grid-template-columns: repeat(4, 1fr);
			}			
		}
	}

	.personnel-group {
		& + .personnel-group {
			padding-top: 3rem;

			@include tablet-landscape {
				padding-top: 6rem;
			}
		}
	}

	.personnel {
		padding-top: 3rem;
		
		&-header {
			padding-bottom: 0.5rem;
		}

		&.lists {
			@include tablet-portrait {
				padding-top: 6rem;
				display: grid;
				gap: 2rem;
				grid-template-columns: repeat(4, 1fr);

				.personnel-header {
					padding-bottom: 0;
				}

				.layout-list {

					& + .layout-list {
						padding-top: 0;
					}

				}
			}
		}

		.layout-list {
			.grid {
				display: block;
			}

			.person {
				.info {
					text-align: left;
				}
			}

		}
	}

	.person {
		.photo {
			aspect-ratio: 277 / 346;
			a {
				display: block;
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.no-photo {
				background: #fff;
				border: 1px solid #dcdcdc;
				border-radius: 2px;
				width: 100%;
				height: 100%;
			}
		}
		.info {
			width: 100%;
			text-align: center;
			padding-top: 0.75rem;
		}

		.name {
			h5 {
				font-weight: bold;

				a {
					color: $bright-red;
				}				
			}
		}

		.meta {
			p {
				font-style: italic;
				color: $blue;
			}
		}
	}
}