section.three-columns {
	padding: 3rem 0;

	& + * {
		padding-top: 3rem;
	}

	& + section.three-columns {
		padding-top: 0;
	}

}

section.cover + section.three-columns {
	padding-top: 1.5rem;
}

.column {
	display: flex;

	@include tablet-portrait {
		padding: 0.6125rem;
	}

	.icon {
		width: 100%;
		max-width: 48px;

		@include tablet-portrait {
			max-width: 32px;
		}

		@include desktop {
			max-width: 48px;
		}

		img {
			width: 100%;
		}
	}

	.icon + .info {
		padding-left: 1.25rem;
	}

	.info {
		flex: 1;

		.headline {
			padding-bottom: 0.5rem;
		}

		.copy {
			@include tablet-portrait {
				padding-right: 2rem;
			}
		}

		.cta {
			padding-top: 2rem;
		}
	}
}

.three-col {
	display: grid;
	grid-gap: 4rem 2rem;

	@include tablet-portrait {
		grid-template-columns: repeat(3, 1fr);
	}

	.col-1,
	.col-2 {
		@include tablet-portrait {
			border-right: 2px solid $blue;
		}		
	}
}

.four-col {
	display: grid;
	grid-gap: 4rem 2rem;

	@include mobile-landscape {
		grid-template-columns: repeat(2, 1fr);
	}

	@include tablet-landscape {
		grid-template-columns: repeat(4, 1fr);

		.col-1,
		.col-2,
		.col-3 {
			border-right: 2px solid $blue;

		}
	}

	.column {
		display: block;
	}

	.icon {
		width: 100%;
		max-width: 100%;
		padding-bottom: 1rem;

		img {
			max-width: 48px;
			max-height: 48px;
			object-fit: contain;
		}
	}

	.info {
		width: 100%;
	}

	.icon + .info {
		padding-left: 0;
	}
}