.three-column-features {
    padding: 3rem 0;

    @include tablet-portrait {
        padding: 6rem 0 4rem 0;
    }

    & + .three-column-features {
        padding-top: 0;
    }

    .features-header {
        padding-bottom: 1.25rem;
    }

    .features-grid {
        display: grid;
        gap: 6rem 2rem;
        grid-template-columns: repeat(1, 1fr);

        @include mobile-landscape {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet-landscape {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .photo {
        @include aspect-ratio(4, 3);
        @include cover-img;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);

        img {
            object-position: center center;
        }
    }

    .photo + .info {
        padding-top: 1.25rem;

    }

    .info-feature,
    .link-feature {
        .copy {
            padding-top: 1rem;
        }
    }

    .link-feature {
        .cta {
            padding-top: 1rem;

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .info {
        p + ul,
        p + ol {
            padding-top: 1rem;
        }

        .cta {
            padding-top: 2rem;
        }
    }

    .video-feature {
        .video-thumbnail {
            .thumbnail {
                position: static;
            }            
        }

        .info {
            padding-top: 1rem;
        }

        .copy {
            padding-top: 0.5rem;
        }
    }

    .toggle-feature {
        .info {    
            .text-toggle {
                color: $bright-red;
                display: inline-block;
                text-decoration: underline;
                font-size: 1rem;
                font-weight: bold;
    
                &:after {
                    content: "+";
                    display: inline-block;
                    margin-left: 5px;
                    transition: all 0.15s ease;
                }
    
                &.show {
                    &:after {
                        transform: rotate(45deg);
                    }
                }
            }
    
            .copy {
                padding-top: 1rem;
            }
    
            .text {
                max-height: 0;
                overflow: hidden;
                transition: all 0.3s ease;
    
                &.show {
                    max-height: 400px;
                    padding-top: 1rem;
                }
    

            }
        }
    }


}