.two-col-features {
	padding: 50px 0;

	@include tablet-portrait {
		padding-bottom: 100px;
	}

	@include tablet-landscape {
		padding: 100px 0 140px 0;
	}

	.feature {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-end;

		& + .feature {
			padding-top: 50px;
		}

		@include tablet-portrait {
			.photo,
			.info {
				width: 50%;
			}

			& + .feature {
				padding-top: 150px;
			}

			&.align-left {
				.info {
					transform: translate3d(-80px, 40px, 0);
					padding-left: 120px;
				}

				.photo {
					z-index: 1;

					img {
						margin-left: auto;
					}
				}
			}

			&.align-right {
				.info {
					transform: translate3d(80px, 40px, 0);
					padding-right: 120px;
					order: -1;
				}

				.photo {
					z-index: 1;

					img {
						margin-right: auto;
					}
				}
			}
		}

		.photo {
			img {
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
			}

			.video-trigger {
				display: block;
			}
		}

		.info {
			background: $white;
			padding: 2.5rem 1.5rem;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

			@include tablet-portrait {
				padding: 4rem 2.5rem;
			}

			.sub-headline {
				padding-bottom: 0.25rem;
				text-transform: uppercase;
			}

			.main-headline {
				padding-bottom: 1rem;
			}

			.copy {
				a {
					color: $bright-red;
				}
			}

			.cta {
				padding-top: 1.5rem;
			}
		}
	}
}


body.page-discover-ultimate {
	.two-col-features .feature .info {
		background: #eee;
	}
}