section.upcoming-events {
	padding: 50px 0 100px 0;

	@include tablet-landscape {
		padding: 100px 0;
	}

	.slick-list {
		padding: 10px 0;
		margin: 0 -10px;
	}

	.event {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		background: $white;
		border-top: 10px solid $bright-red;
		padding: 25px;
		color: $blue;
		margin: 0 10px;
		display: flex;

		&:active,
		&:focus {
			outline: none;
		}

		.display-date {
			font-family: $proxima-nova;
			width: 70px;

			.month {
				background: $bright-red;
				color: $white;
				padding: 7px 5px 5px 5px;
				text-align: center;

				span {
					display: block;
					text-transform: uppercase;
					font-weight: bold;
				}
			}

			.date {
				border: 1px solid $blue;
				border-top: none;
				text-align: center;
				color: $blue;
				padding: 10px;

				span {
					display: block;
					font-size: 1.5rem;
					font-weight: bold;
				}
			}

			.year {
				padding: 5px;
				text-align: center;

				span {
					display: block;
					font-weight: bold;
					font-size: 0.875rem;
					letter-spacing: 0.05em;
				}
			}

			.month + .year {
				padding: 10px;
				border: 1px solid $blue;
				border-top: none;
			}
		}

		.info {
			flex: 1;
			margin-left: 20px;
		}

		.headline {
			padding-bottom: 0.25rem;

			h4 {
				@include ms-respond(font-size, 1);	
			}			
		}

		.meta {
			padding-bottom: 15px;

			p {
				span {
					display: block;
				}

				.date {
					font-weight: bold;
					padding-bottom: 0.25rem;
				}

				.location {
					font-style: italic;
				}
			}
		}

		.copy {
			padding-bottom: 1rem;
		}

		.cta {
			.underline {
				&:hover {
					text-decoration: none;
				}
			}			
		}
	}

	.full-season-cta {
		padding-top: 5rem;
	}
}