.usau-section {

	h1 {
		@include ms-respond(font-size, 7);
		font-family: $futura-condensed;
		letter-spacing: -0.025em;
		line-height: 1em;
		font-weight: 800;
	}

	h2 {
		font-family: $futura-condensed;
		font-weight: 800;
		font-style: italic;
		letter-spacing: -0.015em;
		@include ms-respond(font-size, 6);
	}

	h3 {
		font-family: $futura-condensed;
		font-weight: 800;
		font-style: italic;
		letter-spacing: -0.015em;
		@include ms-respond(font-size, 4);
	}

	h4 {
		font-family: $futura;
		font-weight: 700;
		font-style: italic;
		letter-spacing: -0.015em;
		@include ms-respond(font-size, 2);
		line-height: 1.125em;
	}

	h5 {
		font-family: $futura;
		font-weight: 700;
		letter-spacing: -0.015em;
		@include ms-respond(font-size, 0);
		line-height: 1.125em;
	}

	h6 {
		font-family: $futura;
		font-weight: 700;
		letter-spacing: 0.05em;
		@include ms-respond(font-size, -2);
		line-height: 1.125em;
	}

	h1, h2, h3, h4, h5, h6 {
		padding-bottom: 0.5rem;
	}
	
    p, li {
		@include ms-respond(font-size, 0);
		line-height: 1.75em;        
	}

	p {
		@include tablet-landscape {
			max-width: 920px;
		}
	}
	
	p + p {
		padding-top: 1.5rem;
	}

	.has-text-align-center {
		margin: 0 auto;
	}

	hr {
		margin: 3rem 0;
	}

	ul, ol {
		
		padding: 1.5rem 0;

		@include tablet-landscape {
			max-width: 640px;
		}
	}

	.wp-block-image {
		img {
			width: auto !important;
			height: auto !important;
		}
	}

	* + .wp-block-image {
		margin: 0;
		padding: 1.5rem 0;
	}

	@media (max-width: 599px) {
		.wp-block-columns {
			.wp-block-column + .wp-block-column {
				padding-top: 3rem;
			}
		}
	}
}