section.usau-video {
    background: $black;
    padding: 100px 0;

    .video {
        @include aspect-ratio(16, 9);

        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        padding-top: 2rem;
        color: $white;

        .underline {
            &:after {
                margin-top: 1rem;
            }
        }

        .meta {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
        }

        .status {
            h5 {
                text-transform: uppercase;
                font-size: 1rem;
                font-style: italic;
                letter-spacing: 0.05em;
                background: $bright-red;
                color: $white;
                display: inline-block;
                padding: 0.375rem 0.5rem 0.25rem 0.5rem;
            }   
        }

        .event {
            padding-top: 0.125rem;
            padding-left: 1rem;

            p {
                text-transform: uppercase;
                letter-spacing: 0.075em;
                font-size: clamp(0.75rem, 1vw, 0.875rem);
            }
        }
         

        .copy {
            padding-top: 0.5rem;
            max-width: 960px;
        }
    }


    & + .wp-block-spacer {
        display: none;
    }

}