.yearly-calendar.usau-block {
    padding: 3rem 0;

    @include tablet-portrait {
        padding: 6rem 0;
    }

    .section-header {
        padding-bottom: 2rem;
    }

    .year {
        & + .year {
            margin-top: 4rem;
        }

        &:empty {
            display: none;
        }

        &__header {
            padding-bottom: 0.5rem;
        }

        .events {
            font-family: $proxima-nova;
            font-size: 0.875rem;

            @include tablet-portrait {
                &-wrapper {
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                }
            }

            &__header {
                background: $bright-red;
                color: $white;
                padding: 1rem;
                display: none;

                @include tablet-portrait {
                    display: flex;
                }

                strong {
                    font-weight: bold;
                }
            }

            .event-listing {
                padding: 2rem;
                background: $white;
                @include scroll-x;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

                @include tablet-portrait {
                    display: flex;
                    padding: 1rem;
                    box-shadow: none;
                }

                & + .event-listing {
                    margin-top: 2rem;

                    @include tablet-portrait {
                        margin-top: 0;
                        border-top: 1px solid $light-gray;
                    }
                }

                div + div {
                    padding-top: 0.5rem;

                    @include tablet-portrait {
                        padding-top: 0;
                    }
                }

                a {
                    font-weight: bold;
                    color: $blue;
                    text-decoration: underline;
                }
            }
        }

        @include tablet-portrait {
            .events__header,
            .event-listing {
                @for $i from 1 through 6 {
                    div:first-child:nth-last-child(#{$i}),
                    div:first-child:nth-last-child(#{$i}) ~ div {
                        width: calc(100% / $i);
                        min-width: 200px;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }
}
