section.locations {
    padding: 0 0 50px 0;

    .locations-grid {
        display: grid;
        gap: 1rem 2rem;

        .location + .region-header {
            padding-top: 4rem;

            @include tablet-landscape {
                padding-top: 6rem;
            }
        }

        .region-header {
            &:after {
                margin-bottom: 0;
            }
        }

        @include mobile-landscape {
            grid-template-columns: repeat(2, 1fr);

            .region-header,
            .error-message {
                grid-column: 1 / span 2;
            }
        }

        @include tablet-portrait {
            grid-template-columns: repeat(3, 1fr);

            .region-header,
            .error-message {
                grid-column: 1 / span 3;
            }
        }
    }

    .location {
        background: $white;
        padding: 25px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        border-radius: 3px;

        .headline {
            h5 {
                font-weight: bold;
                color: $blue;
            }

            h6 {
                padding-top: 0.25rem;
                color: $light-blue;
                letter-spacing: 0;
            }
        }

        .copy {
            padding-top: 1rem;
            font-family: $proxima-nova;
        }

        .url {
            padding-top: 20px;

            a {
                display: inline-block;
                font-weight: bold;
                border-bottom: 1px solid;
                padding-bottom: 1px;
                color: $bright-red;
                position: relative;

                &:hover {
                    text-decoration: none;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    right: -16px;
                    top: 0;
                    width: 12px;
                    height: 12px;
                    background: url(images/icon-external-link-red.svg) no-repeat 0 0;
                    background-size: 12px 12px;
                }
            }
        }
    }
}