section.map {
    padding: 0 0 6rem 0;

    .graphic {
        @include mobile-landscape {
            grid-column: 4 / span 4;
        }
        
        @include tablet-landscape {
            grid-column: 5 / span 6;
        }

        img {
            width: 100%;
            margin: auto;
            max-height: 250px;

            @include tablet-portrait {
                max-height: 500px;
            }
        }
    }
}