.cat-link {
    display: block;
    border: 2px solid;
    font-weight: 600;
    font-family: $proxima-nova;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    padding: 7px 10px 5px 10px;

    &:hover {
        text-decoration: none;
    }

    &.red {
        color: $bright-red;

        &:hover {
            background: $bright-red;
            color: $white;
            border-color: $bright-red;
        }
    }

    &.white {
        border-color: $white;
        color: $white;

        &:hover {
            background: $white;
            color: $blue;
            border-color: $white;
        }

    }
}