.cta {
	&.align-center {
		text-align: center;
	}
	
	.btn {
		text-transform: uppercase;
		font-family: $proxima-nova;
		font-weight: 500;
		letter-spacing: 0.05em;
		border: 2px solid;
		padding: 10px 10px 8px 10px;
		@include ms-respond(font-size, -1);
		display: inline-block;

		@include tablet-portrait {
			padding: 15px 15px 12px 15px;
		}

		&:hover {
			text-decoration: none;
		}

		&.small {
			@include tablet-portrait {
				@include ms-respond(font-size, -2);
				padding: 12px 12px 8px 12px;
			}
		}

		&.rounded {
			border-radius: 25px;
		}

		&.white {
			color: $white;
			border-color: $white;

			&:hover,
			&.active {
				background: $white;
				color: $blue;
			}
		}

		&.black {
			color: $slate;
			border-color: $slate;

			&:hover,
			&.active {
				background: $black;
				color: $citrine;
			}
		}

		&.yellow {
			color: $slate;
			border-color: $slate;

			&:hover,
			&.active {
				background: $citrine;
				color: $slate;
			}
		}

		&.red {
			color: $bright-red;
			border-color: $bright-red;

			&:hover,
			&.active {
				background: $bright-red;
				color: $white;
			}
		}

		&.solid-red {
			color: $white;
			border-color: $bright-red;
			background: $bright-red;

			&:hover {
				background: $bright-red;
				color: $white;
				border-color: $bright-red;
			}
		}

		&.solid-white {
			color: $blue;
			border-color: $white;
			background: $white;

			&:hover {
				color: $white;
				border-color: $blue;
				background: $blue;
			}
		}

		&.blue {
			color: $blue;
			border-color: $blue;

			&:hover,
			&.active {
				background: $blue;
				color: $white;
			}
		}

		&.play-btn {
			padding-left: 35px;
			padding-right: 10px;
			background-repeat: no-repeat;
			background-size: 12px 12px;
			background-position: 13px 9px;
			border-radius: 30px;

			&:hover {
				background-repeat: no-repeat;
				background-size: 12px 12px;
				background-position: 13px 9px;
			}

			@include tablet-portrait {
				padding-left: 55px;
				padding-right: 25px;
				background-size: 20px 20px;
				background-position: 24px 16px;
				font-size: 1.5rem;
				font-weight: 600;

				&:hover {
					background-repeat: no-repeat;
					background-size: 20px 20px;
					background-position: 24px 16px;
				}
			}


			&.white {
				background-image: url(images/icon-play-white.svg);

				&:hover {
					background-image: url(images/icon-play-blue.svg);
				}
			}
		}

		&.up-arrow {
			padding-left: 35px;
			padding-right: 10px;
			background-repeat: no-repeat;
			background-size: 12px 12px;
			background-position: 13px 9px;
			font-weight: 600;

			&:hover {
				background-repeat: no-repeat;
				background-size: 12px 12px;
				background-position: 13px 9px;
			}

			@include tablet-portrait {
				padding-left: 45px;
				padding-right: 20px;
				background-size: 20px 20px;
				background-position: 16px 12px;

				&:hover {
					background-repeat: no-repeat;
					background-size: 20px 20px;
					background-position: 16px 12px;
				}
			}


			&.blue {
				background-image: url(images/icon-up-arrow-blue.svg);

				&:hover {
					background-image: url(images/icon-up-arrow-white.svg);
					background-color: $blue;
					color: $white;
					border-color: $blue;
				}
			}
		}

	}

	.underline {
		border-bottom: 2px solid;
		padding-bottom: 2px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.8125rem;
		letter-spacing: 0.05em;

		&:hover {
			text-decoration: none;
		}

		&.blue {
			border-color: $blue;
		}

		&.red {
			border-color: $bright-red;
			color: $bright-red;
		}

	}
}
