$normal-state: rgba(255, 255, 255, 1);

.video {
	.play-btn {
		width: 4em;
		height: 4em;
		text-align: left;
		border: 3px solid $normal-state;
		border-radius: 50%;
		transition: all 0.3s ease-in;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
		background: rgba(255, 255, 255, 0.1);

		.triangle,
		.triangle:before,
		.triangle:after {
			width: 2em;
			height: 2em;
			text-align: left;
		}

		.triangle {
			overflow: hidden;
			position: relative;
			border-radius: 20%;
			transform: translateX(1em) translateY(1.325em) rotate(0deg) skewY(30deg) scaleX(.866);
			cursor: pointer;
			pointer-events: none;

			&:before,
			&:after {
				position: absolute;
				background: $normal-state;
				pointer-events: auto;
				content: '';
				transition: all 0.2s ease-in;
			}
		
			&:before {
				border-radius: 20% 20% 20% 53%;
				transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
						skewX(30deg) scaleY(.866) translateX(-24%);
			}
		
			&:after {
				border-radius: 20% 20% 53% 20%;
				transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) 
						skewX(-30deg) scaleY(.866) translateX(24%);
			}
		}
	}

	&:hover {
		.play-btn {

			.triangle {
				&:before,
				&:after {
					position: absolute;
					background: $bright-red;						
				}
			}						
		}
	}	
}


.discover-play-btn {
	position: relative;
	display: block;

	&:before,
	&:after {
		display: inline-block;
		content: '';
		border-radius: 50%;
		position: absolute;
		transition: all 0.4s ease-in;
	}

	&:before {
		width: 96px;
		height: 96px;
		top: calc(50% - 48px);
		left: calc(50% - 48px);
		z-index: 11;
		background: rgba(255, 255, 255, 0.4);
	}

	&:after {
		width: 112px;
		height: 112px;
		top: calc(50% - 56px);
		left: calc(50% - 56px);
		z-index: 10;
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	}

	.duration {
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 11;
		background: rgba(255, 255, 255, 0.75);
		color: $light-blue;
		font-family: $proxima-nova;
		display: inline-block;
		padding: 8px 10px;
		border-radius: 5px;
		font-size: 0.75rem;
		font-weight: 700;
		letter-spacing: 0.05em;
	}

	.icon {
		font-family: FontAwesome;
		color: $white;
		font-size: 2.5rem;

		&:before {
			content: "\f04b";
			position: absolute;
			display: inline-block;
			width: 40px;
			height: 40px;
			top: calc(50% - 20px);
			left: calc(50% - 12px);
			z-index: 12;
			transition: all 0.4s ease-in;
		}
	}

	&:hover {
		&:before {
			background: rgba(255, 255, 255, 0.75);
		}

		&:after {
			background: rgba(255, 255, 255, 0.5);
			box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
		}

		.icon:before {
			color: $light-blue;
		}
	}
}