.resources-grid {
	display: grid;
	gap: 2rem;

	@include mobile-landscape {
		grid-template-columns: repeat(2, 1fr);
	}

	@include tablet-portrait {
		grid-template-columns: repeat(3, 1fr);
	}
}

.resource {
	background: $white;
	padding: 1.5rem;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	border-radius: 3px;

	.cat {
		padding-bottom: 0.5rem;

		.topic {
			+ .topic {
				&:before {
					content: '·';
					padding-right: 0.375rem;
				}
			}
		}


	}

	.copy {
		padding-top: 1rem;
	}

	.url {
		padding-top: 1.5rem;

		a {
			display: inline-block;
			font-weight: bold;
			font-family: $proxima-nova;
			border-bottom: 1px solid;
			padding-bottom: 1px;
			color: $bright-red;
			position: relative;

			&:hover {
				text-decoration: none;
			}

			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				right: -16px;
				top: 0;
				width: 12px;
				height: 12px;
				background: url(images/icon-external-link-red.svg) no-repeat 0 0;
				background-size: 12px 12px;
			}
		}
	}

	.meta {
		padding-top: 20px;
		margin-top: auto;
	}
}