.social-links {
    display: flex;
    align-items: center;

    .link {

        & + .link {
            padding-left: 1rem;
        }
        a {
            display: block;

            img {
                width: 100%;
                height: 100%;
                max-width: 1.25rem;
                max-height: 0.875rem;
            }
        }
    }
}