section.sponsors {
	padding: 3rem 0 0 0;
	background: $blue;

	@include tablet-portrait {
		padding: 6rem 0 0 0;
	}

	.sponsor-gallery {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	.sponsor {
		max-width: 200px;
		padding: 1.5rem;

		@include desktop {
			max-width: 250px;
			padding: 1.5rem 3rem;
		}

		a {
			display: block;
		}
	}

	& + .back-to-top {
		background: $blue;

		.btn.up-arrow {
			color: $white;
			border-color: $white;
			background-image: url(images/icon-up-arrow-white.svg);

			&:hover {
				background-color: $white;
				border-color: $white;
				background-image: url(images/icon-up-arrow-blue.svg);
				color: $blue;
			}
		}		
	}
}