section.call-to-action {
    padding: 6rem 0;

    .section-header {
        text-align: center;

        .cta {
            padding-top: 3rem;
        }
    }

    #us-map{
        display: block;
        width: 100%;
        height: 100%;

        path, circle {
            stroke-width: 2px;
            stroke: $blue;
            stroke-opacity: 0.5;
            fill: $blue;
            fill-opacity: 0.03;
        }
      
        path:hover,
        circle:hover {
          stroke: $bright-red;
          stroke-width: 2px;
          stroke-linejoin: round;
          fill: $bright-red;
          fill-opacity: 0.04;
          cursor: pointer;
        }
      
        #non-continental {
          fill: none !important;
          stroke: $bright-red !important;
          stroke-opacity: 0.33 !important;
          cursor: default;
        }
      
    }
}