section.glossary {
    padding: 6rem 0 6rem 0;

    .section-header {
        text-align: center;
        padding-bottom: 4rem;

        .note {
            margin-top: -0.5rem;
            p {
                font-style: italic;
            }
        }
    }

    .terms {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);

        @include mobile-landscape {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet-landscape {
            grid-template-columns: repeat(3, 1fr);
        }
    }



    .term {
        &-wrapper {
            width: 100%;
            border-radius: 3px;
            transition: all 0.1s ease-in;
            box-shadow: 0 0 12px rgba(179, 8, 57, 0.3);
        }        
        
        .label {
            a {
                border-radius: 3px;
                display: block;
                text-align: center;
                background: $bright-red;
                color: $white;
                padding: 1rem 1rem 0.9375rem 1rem;
                text-transform: uppercase;
                font-style: italic;
                letter-spacing: 0.01em;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .definition {
            transition: all 0.1s ease-in;
            padding: 1rem;
            color: $black;
            display: none;
            background: $white;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        &.active {
            .term-wrapper {
                box-shadow: 0 0 20px rgba(28, 134, 255, 0.3);       
            }

            .label {
                a {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            .definition {
                display: block;
                width: 100%;
                box-shadow: 0 6px 12px rgba(28, 134, 255, 0.3);

                p, span {
                    font-weight: 600 !important;
                }

                @include mobile-landscape {
                    position: absolute;
                    z-index: 10;
                }
            }
        }
    }


}