section.great-plays {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    padding: 6rem 0;

    .section-header {
        text-align: center;
        padding-bottom: 3rem;
    }

    .great-play {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 0 2rem;

        @include tablet-landscape {
            grid-template-columns: repeat(12, 1fr);
        }

        & > * {
            grid-column: 1 / -1;
        }

        & + .great-play {
            padding-top: 6rem;
        }

        .info {
            padding-bottom: 2rem;

            @include tablet-portrait {
                grid-column: 1 / span 4;
                display: flex;
                align-items: center;
            }

            @include tablet-landscape {
                grid-column: 2 / span 4;
            }

            .headline {
                padding-bottom: 0.5rem;
            }
        }

        .video {
            @include aspect-ratio(3, 4);

            @include tablet-portrait {
                grid-column: 5 / span 4;
            }

            @include tablet-landscape {
                grid-column: 7 / span 5;
            }         

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 3px;
                object-fit: cover;
            }
        }

        &-2,
        &-4 {
            @include tablet-portrait {
                .info {
                    grid-column: 5 / span 4;
                    grid-row: 1;
                }

                .video {
                    grid-column: 1 / span 4;
                    grid-row: 1;
                }
            }

            @include tablet-landscape {
                .info {
                    grid-column: 8 / span 4;
                }

                .video {
                    grid-column: 2 / span 5;
                }
            }
        }
    }
}