section.hero {
    background: #111;
    
    .video {
        @include aspect-ratio(16, 9);

        .content {
            &:before {
                display: block;
                content: '';
                background: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 10;
            }
        }

        iframe {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .info {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: flex;
        align-items: center;
        justify-content: center;

        .headline {
            width: 100%;
            text-align: center;

            h1 {
                color: $white;
                font-weight: 900;
                font-family: $futura-condensed;
                font-size: 4em;
                font-style: italic;
                text-transform: uppercase;

                @include tablet-portrait {
                    font-size: 6em;
                }

                @include tablet-landscape {
                    font-size: 8em;
                }
            }
        }
    }	
}