section.history {
    padding: 6rem 0;

    @include tablet-landscape {
        padding: 6rem 0 12rem 0;
    }

    .section-header {
        text-align: center;
    }

    .event {
        display: grid;
        grid-template-areas: "a b b"
                             "a c c";
        grid-template-columns: 2px 1fr 1fr;
        gap: 0px 3rem;
        

        & + .event {
            .info {
                padding-top: 1rem;

                @include tablet-portrait {
                    padding-top: 8rem;
                }
            }

            .photo {
                padding-top: 6rem;

                @include tablet-portrait {
                    padding-top: 8rem;
                }
            }

            .year {
                padding-top: 3rem;

                @include tablet-portrait {
                    padding-top: 12rem;
                }

                &:after {
                    top: 3rem;

                    @include tablet-portrait {
                        top: 12rem;
                    }
                }
            }					
        }

        &:first-of-type {
            .photo {
                padding-top: 3rem;

                @include tablet-portrait {
                    padding-top: auto;
                }
            }

            .info {
                padding-top: 1rem;
            }
        }

        .info {
            grid-area: c;
            max-width: 420px;

            @include tablet-portrait {
                text-align: right;
                margin-left: auto;
            }

            .headline {
                padding-bottom: 1rem;
                width: 100%;

                @include tablet-portrait {
                    padding-top: 100px;
                }

                h3 {
                    font-weight: bold;
                    color: $bright-red;
                    font-style: italic;
                    font-size: 1.5rem;
                }
            }

            .copy {
                width: 100%;
            }
        }

        .year {
            background: rgba(255, 255, 255, 0.5);
            grid-area: a;

            &:after {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background: rgb(131, 131, 131);
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: -7px;
                z-index: 10;
            }

            .label {
                display: inline-block;
                position: absolute;
                left: 15px;
                transform: translateY(-5px);
                font-size: 1.5rem;
                color: $white;
                font-style: italic;
                font-weight: bold;

                @include tablet-portrait {
                    left: -75px;
                }
            }
        }

        .photo {
            grid-area: b;
            max-width: 400px;
            margin-right: auto;


        }

        @include tablet-portrait {
            grid-template-columns: 1fr 2px 1fr;
            grid-template-areas: "a b c";
            gap: 50px;

            .info {
                grid-area: a;
            }

            .year {
                grid-area: b;
            }

            .photo {
                grid-area: c;
            }

            &:nth-child(even) {
                .info {
                    grid-area: c;
                    text-align: left;
                    margin-right: auto;
                    margin-left: 0;
                }

                .photo {
                    grid-area: a;
                    margin-left: auto;
                    margin-right: 0;
                }

                .year {
                    .label {
                        left: auto;
                        right: -75px;
                    }
                }

            }
        }

    }



    .event + .event-small {
        .info {
            padding-top: 100px;

            @include tablet-portrait {
                padding-top: 185px;
                grid-area: c;
                text-align: left;
                margin-left: 0;
            }

            .copy {
                p {
                    font-size: 1rem;
                    line-height: 1.5em;
                    font-style: italic;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }

        &:nth-child(even){
            .info {
                grid-area: a;
                margin-left: auto;
                margin-right: 0;
                text-align: right;
            }
        }

        .year {
            @include tablet-portrait {
                padding-top: 200px;
            }

            .label {
                color: $white;
                opacity: 0.25;
            }
        }
    }
}