section.how-to-play {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 6rem 0;

    @include tablet-landscape {
        padding: 6rem 0 12rem 0;
    }

    .section-header {
        text-align: center;
    }

    .tiles {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1.5rem;

        @include tablet-landscape {
            gap: 3rem;
        }

        .tile {
            grid-column: span 6;
            @include aspect-ratio(16,9);

            @include mobile-landscape {
                grid-column: span 3;

                /* Dealing with single orphan */
                &:last-child:nth-child(2n - 1) {
                    grid-column-end: 4;
                }
            }

            @include tablet-portrait {
                grid-column: span 2;

                /* Dealing with 2 orphan items */
                &:last-child:nth-child(3n - 1) {
                    grid-column-end: -2;
                }
                
                &:nth-last-child(2):nth-child(3n + 1) {
                    grid-column-end: 4;
                }

                /* Dealing with single orphan */
                &:last-child:nth-child(3n - 2) {
                    grid-column-end: 5;
                }
            }
        }
    }

    .cta {
        padding-top: 3rem;

        @include tablet-portrait {
            padding-top: 6rem;
        }
    }
}