section.spirit-of-the-game {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 6rem 0;

    @include tablet-landscape {
        padding: 16rem 0;
    }

    @include desktop {
        padding: 20rem 0;
    }

    .info {
        @include tablet-landscape {
            grid-column: 2 / span 8;
        }
    }

    .cta {
        padding-top: 2rem;
    }
}
