.site-header {
    .utility-menu {
        background: $light-blue;
    }

    .main-menu {
        background: $blue;

        .desktop-menu {
            a {
                color: $white;

                &:hover {
                    border-color: $white;
                }
            }
        }

        .hamburger {
            .nav-trigger {
                .patty {
                    background: $white;

                    &:before,
                    &:after {
                        background: $white;
                    }
                }
            }
        }

        .discover-ultimate-link {
            border-left: 1px solid $light-blue;

            a {
                background: $blue;
            }
        }
    }
}

section#video-overlay {
    .overlay {
        background: rgba(0, 0, 0, 0.9);
    }
}

.site-content {
    color: $white;
    background: rgb(15, 15, 15);
}

.cta .btn.up-arrow.blue {
    border-color: $white;
    color: $white;
    background-image: url(images/icon-up-arrow-white.svg);

    &:hover {
        background-color: $bright-red;
        border-color: $bright-red;
    }
}

.slick-dots {
    li button::before {
        border-color: $white;
    }

    li.slick-active button::before {
        background: $bright-red;
        border-color: $bright-red;
    }
}

.section-header {

    .headline {
        padding-bottom: 1.25rem;

        h5 {
            text-transform: uppercase;
            font-size: 1rem;
            font-style: italic;
            letter-spacing: 0.05em;
            background: $bright-red;
            color: $white;
            display: inline-block;
            padding: 0.375rem 0.5rem 0.25rem 0.5rem;
        }

        h2 {
            font-family: $futura-condensed;
            font-weight: 900;
            font-style: italic;
            text-transform: uppercase;
            font-size: 3rem;
            color: $white;

            @include tablet-portrait {
                font-size: 4rem;
            }

            @include desktop {
                font-size: 6rem;
            }
        }

        h3 {
            font-family: $proxima-nova;
            font-weight: 900;
            font-size: 2rem;
            color: $white;

            @include tablet-portrait {
                font-size: 3rem;
            }

            @include desktop {
                font-size: 3rem;
            }
        }
    }
}

.site-footer {
    background: #111;
    box-shadow: none;
    border-top: 1px solid $slate;

    .footer-columns .col.links .header-link a {
        color: $bright-red
    }

    .footer-columns .col.links .link a {
        color: $white;
    }

    .footer-utilities {
        border-color: $slate;
    }
}