section.this-is-ultimate {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 6rem 0;

    @include tablet-landscape {
        padding: 20rem 0 16rem 0;
    }

    .section-header {
        padding-bottom: 0;
    }

    .video {
        @include tablet-portrait {
            grid-column: 2 / span 4;
            display: flex;
            align-items: center;
        }

        @include tablet-landscape {
            grid-column: 2 / span 7;
        }

        a {
            display: block;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 2px;
        }

        img {
            border-radius: 2px;
        }
    }

    .info {
        padding-top: 3rem;

        @include tablet-portrait {
            padding-top: 0;
            grid-column: 6 / span 4;
        }

        @include tablet-landscape {
            grid-column: 10 / span 4;
        }

        .cta {
            padding-top: 2rem;
        }
    }
}