section.values {
    padding: 6rem 0;

    
    .section-header {
        text-align: center;
        padding-bottom: 100px;
    }

    .value {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 0 2rem;

        @include tablet-landscape {
            grid-template-columns: repeat(12, 1fr);
        }

        & > * {
            grid-column: 1 / -1;
        }

        & + .value {
            padding-top: 6rem;

            @include tablet-landscape {
                padding-top: 10rem;
            }
        }

        .info {
            @include tablet-portrait {
                grid-column: 1 / span 4;
                display: flex;
                align-items: center;
            }

            @include tablet-landscape {
                grid-column: 2 / span 5;
            }

            .cta {
                padding-top: 2rem;
            }
        }

        .photo {
            @include tablet-portrait {
                grid-column: 5 / span 4;
            }

            @include tablet-landscape {
                grid-column: 7 / span 5;
            }      

            img {
                width: 100%;
                border-radius: 3px;
            }
        }

        &-2 {
            @include tablet-portrait {
                .info {
                    grid-column: 5 / span 4;
                    grid-row: 1;
                }

                .photo {
                    grid-column: 1 / span 4;
                    grid-row: 1;
                }
            }

            @include tablet-portrait {
                .info {
                    grid-column: 7 / span 5;
                }

                .photo {
                    grid-column: 2 / span 5;
                }
            }
        }        

    }
}