section.where-we-play {
    padding: 6rem 0;

    @include tablet-landscape {
        padding: 10rem 0;
    }

    .section-header {
        text-align: center;
        padding-bottom: 3rem;
    }

    .location {
        margin: 0 0.5rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        max-width: 300px;
        width: 100%;

        @include mobile-landscape {
            max-width: 400px;
        }

        @include tablet-portrait {
            max-width: 600px;
            margin: 0 1rem;
        }

        @include tablet-landscape {
            max-width: 800px;
        }

        @include desktop {
            max-width: 1200px;
        }

        &:active,
        &:focus {
            outline: none;
        }

        .photo {
            img {
                border-radius: 3px;
            }
        }

        .caption {
            background: $white;
            padding: 12px 15px 10px 15px;
            color: $slate;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;

            @include tablet-portrait {
                position: absolute;
                border-radius: 3px;
                bottom: 1.25rem;
                left: 1.25rem;
                background: rgba(255, 255, 255, 0.9);
            }

            &-wrapper {
                max-width: 640px;
            }

            p {
                color: $blue;
                font-weight: 600;
            }
        }
    }
}