section.why-we-play {
    @include section-padding(125px, 125px);

    .section-header {
        text-align: center;
    }

    .player {
        @include aspect-ratio(9, 16);
        max-height: 800px;
        max-width: 450px;

        a {
            color: $white;
            display: block;
        }

        .info {
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 25px;
            text-align: center;

            h3 {
                font-weight: 900;
                font-size: 1.5rem;
                padding-bottom: 10px;
            }

            h4 {
                font-family: $proxima-nova;
                text-transform: uppercase;
                font-size: 0.875rem;
                letter-spacing: 0.1em;
            }
        }
    }

    article.profile-overlay {
        display: none;

        .overlay-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .info {
            background: $white;
            color: $blue;
            border-radius: 10px;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        }

        .photo {
            img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }

        .details {
            padding: 20px;

            @include tablet-portrait {
                padding: 40px;
            }

            .meta {
                padding-bottom: 20px;

                h3 {
                    font-weight: 900;
                    font-size: 1.5rem;
                    padding-bottom: 5px;
                }

                h4 {
                    font-family: $proxima-nova;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    letter-spacing: 0.1em;
                    color: $bright-red;
                }					
            }

            .copy {
                p {
                    font-size: 1rem;
                    line-height: 1.5em;

                    @include tablet-portrait {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

&.profile-open {
    overflow: hidden;
    .overlay {
        background: rgba(0, 0, 0, 0.9);
    }
}