section.teams-list {

	& + section.teams-list {
		margin-top: 4rem;

		@include tablet-portrait {
			margin-top: 6rem;
		}
	}

	.teams-grid {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);

		@include mobile-landscape {
			grid-template-columns: repeat(3, 1fr);
		}

		@include tablet-portrait {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.team {
		background: $white;
		padding: 1.5rem;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		transition: all 0.3s ease-in;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		&:hover {
			cursor: pointer;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		}

		.logo {
			width: 72px;
			height: 72px;
			margin: 0 auto;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;

			}
		}

		& > .info {
			text-align: center;
			padding-top: 1.5rem;

			.headline {
				h4 {
					@include ms-respond(font-size, 1);
				}
			}
		}

		.meta {
			padding-top: 0.5rem;
			color: $blue;
		}
	}

	.cta {
		padding-top: 4rem;
		padding-bottom: 4rem;
		text-align: center;
	}
}

.teams-anchor-links {
	margin-bottom: 3rem;

	@include tablet-portrait {
		margin-bottom: 6rem;
	}
}

body.team-overlay-open {
	overflow: hidden;

	.team-overlay {
		.overlay-wrapper {

			@media screen and (max-height: 1000px) {
				overflow-y: scroll;
				align-items: flex-start;

				.info {
					transform: translateY(50px);
				}
			}			
		}
	}

	.team:hover {
		cursor: default;
	}
}

.team-overlay {
	display: none;
	z-index: 100000;

	.overlay {
		background: rgba(0, 0, 0, 0.9);
	}

	.overlay-wrapper {
		max-width: 600px;
		margin: 0 auto;
	}

	.info {
		background: $white;
		color: $blue;
		border-radius: 10px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
		width: 100%;

		@media screen and (max-height: 700px) {
			margin-bottom: 50px;
		}
	}

	.photo {
		@include aspect-ratio(330, 100);

		@include tablet-portrait {
			@include aspect-ratio(220, 100);
		}

		img {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.details {
		padding: 25px;

		@include tablet-portrait {
			padding: 40px 50px 40px 50px;
		}

		.meta {
			padding: 0 0 10px 0 !important;
			text-align: left !important;

			h3 {
				font-weight: 900;
				font-size: 1.5rem;
				padding-bottom: 10px;
			}

			h4 {
				font-family: $proxima-nova;
				text-transform: uppercase;
				font-size: 0.8125rem;
				letter-spacing: 0.1em;
				color: $bright-red;
			}

			&-main {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;

				.social {
					display: flex;
					align-items: center;
					width: 100%;
					padding: 20px 0 10px 0;

					@include mobile-landscape {
						width: auto;
						padding: 0;
					}

					a {
						display: block;

						& + a {
							margin-left: 15px;

							@include tablet-portrait {
								margin-left: 20px;
							}
						}

						img {
							max-width: 20px;
							max-height: 20px;
							width: 100%;
							height: 100%;
						}
					}
				}
			}				
		}

		.detail,
		.copy {
			p {
				font-size: 0.875rem;
				line-height: 1.5em;

				@include tablet-portrait {
					font-size: 1rem;
				}
			}
		}

		.detail {
			padding-top: 20px;

			h5 {
				font-weight: bold;
				font-size: 0.875rem;
				padding-bottom: 5px;

				@include tablet-portrait {
					font-size: 1rem;
				}
			}
		}

		.cta {
			padding-top: 20px;

			@include tablet-portrait {
				padding-top: 40px;
			}
		}
	}
}