section.team-profile {
	padding-top: 3rem;

	@include desktop {
		padding-top: 6rem;
	}

	& + section.back {
		padding-top: 3rem;
	}

	.info {
		background: $white;
		color: $blue;
		border-radius: 10px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
		max-width: 600px;
		width: 100%;
		margin: 0 auto;

		@media screen and (max-height: 700px) {
			margin-bottom: 3rem;
		}
	}

	.photo {
		@include aspect-ratio(330, 100);

		@include tablet-portrait {
			@include aspect-ratio(220, 100);
		}

		img {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.details {
		padding: 1.5rem;

		@include tablet-portrait {
			padding: 40px 50px 40px 50px;
		}

		.meta {
			padding: 0 0 10px 0 !important;
			text-align: left !important;

			&-main {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.social {
					display: flex;
					align-items: center;
					width: 100%;
					padding: 20px 0 10px 0;

					@include mobile-landscape {
						width: auto;
						padding: 0;
					}

					a {
						display: block;

						& + a {
							margin-left: 15px;

							@include tablet-portrait {
								margin-left: 20px;
							}
						}

						img {
							max-width: 20px;
							max-height: 20px;
							width: 100%;
							height: 100%;
						}
					}
				}
			}				
		}

		.names {
			.location {
				padding-top: 0.25rem;

				h6 {
					letter-spacing: 0.05em;
				}
			}
		}

		.detail {
			padding-top: 1.5rem;

			h5 {
				font-weight: bold;
				font-size: 0.875rem;
				padding-bottom: 5px;

				@include tablet-portrait {
					font-size: 1rem;
				}
			}
		}

		.cta {
			padding-top: 20px;

			@include tablet-portrait {
				padding-top: 40px;
			}
		}
	}
}